<div class="py-0.5 pl-1 pr-2 bg-[#C33635] rounded-[4rem] flex items-center justify-center gap-x-0.5">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="17"
    height="17"
    viewBox="0 0 17 17"
    fill="none">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M13.0491 8.21669L9.04173 14.0054C8.67439 14.5354 7.84306 14.276 7.84306 13.6307V9.81536H4.49306C3.96239 9.81536 3.64973 9.21936 3.95239 8.78269L7.95973 2.99402C8.32706 2.46402 9.15839 2.72336 9.15839 3.36869V7.18402H12.5084C13.0384 7.18402 13.3511 7.78002 13.0491 8.21669Z"
      fill="white"
      stroke="white"
      stroke-width="0.2"
      stroke-linecap="round"
      stroke-linejoin="round" />
  </svg>
  <span class="text-xs font-medium text-white">Popular</span>
</div>