<div class="bm-information-bar-top">
  <div class="page-width" style="background: {{section.settings.bm_information_bar_color}};">
    <div class="bm-information-bar">
      {% for block in section.blocks %}
      <div class="bm-information-bar-block">
        {% if block.settings.bm_information_block_icon != blank %}
        <div class="bm-information-block-icon">
          <img src="{{block.settings.bm_information_block_icon | img_url:'master' }}" />
        </div>
        {% endif %}
        {% if block.settings.bm_information_block_title != blank %}
        <div class="bm-information-block-text">
          {{block.settings.bm_information_block_title}}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>