<div class="bm-product-pills-ingred-slider">

  {% assign bm_pills_ingred_block_content = product.metafields.bm_pdp.bundle_ingred_desc | split: '***' %}
  {% for item in bm_pills_ingred_block_content %}
  <div> 
    <div class="bm-product-pills-ingred">
      {{item}}
    </div>
  </div>
  {% endfor %}

</div>

<style>
  /* slick */
  .bm-product-pills-ingred-slider button.slick-prev.slick-arrow {
    display: block !important;
    background: #FFF;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    border-radius: 50px;

    width: 50px;
    height: 50px;
    left: 0;
  }
  .bm-product-pills-ingred-slider button.slick-next.slick-arrow{
    display: block !important;
    background: #FFF;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    right: 0;
  }

  .bm-product-pills-ingred-slider .slick-next:before {
    background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/arrow_2.png?v=1642673474) no-repeat;
    content: "";
    width: 60%;
    transform: rotate(270deg) !important;
    height: 100%;
    position: absolute;
    background-size: 100%;
    top: 0;
    right: 0;
  }
  .bm-product-pills-ingred-slider .slick-prev:before {
    background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/arrow_2.png?v=1642673474) no-repeat;
    content: "";
    width: 60%;
    transform: rotate(90deg) !important;
    height: 100%;
    position: absolute;
    background-size: 100%;
    top: 0;
    right: 0;
  }

  .bm-product-pills-ingred-slider .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 16px 0;
    list-style-type: none;
    bottom: -30px;
    left: 0 !important;
    align-items: center;
    width: 100%;
  }
  .bm-product-pills-ingred-slider .slick-dots li {
    margin: 0 7px;
  }
  .bm-product-pills-ingred-slider .slick-dots button {
    display: block;
    width: 11px !important;
    height: 11px !important;
    padding: 0;
    border: none;
    border-radius: 100%;
    background: rgba(196, 196, 196, 0.5);
    text-indent: -9999px;

  }

  .bm-product-pills-ingred-slider .slick-dots li.slick-active button {
    background: #C4C4C4;
    width: 14px!important;
    height: 14px!important;
  }
  @media only screen and (max-width: 768px) {
    .bm-product-pills-ingred-slider {
      padding: 0 30px ;
    }
    .bm-product-pills-ingred-slider button.slick-prev.slick-arrow {
      width: 30px;
      height: 30px;
    }
    .bm-product-pills-ingred-slider button.slick-next.slick-arrow {
      width: 30px;
      height: 30px;
    }
  }
</style>


<script>
  $(document).ready(function(){

    $('.bm-product-pills-ingred-slider').slick({
      dots: true,
      arrows: true,
      infinite: true,
      speed: 400,
      slidesToShow: 1,
      adaptiveHeight: true
    });
    
    // slick height adjust/show and hide content
//     $(".bm_js_nav_item a").click(function(){
//       console.log('yes hoyche');
//       $(".bm-product-pills-ingred-slider").get(0).slick.setPosition();
//       $("div#pills-ingred>.page-width>.bm-product-pills-ingred-slider>.slick-list").css("height","397px");
//       $("div#pills-ingred>.page-width>.bm-product-pills-ingred-slider>.slick-list>.slick-track").css("width","6500px");
//     });

  });
</script>