{% unless product.handle == "utiva-starter-kit" or product.handle == "cranberry-pacs-probiotics-bf-special" %}
<div class="bm-loop-form">
  <div class="bm-loop-btn bm-loop-onetime bm-loop-selected">
    <div class="bm-loop-onetime-text">
      <h2 class="bm-loop-onetime-label">One time purchase</h2>
      <h2 class="bm-loop-onetime-price"></h2>
    </div>
    <ul class="bm-rcprice-text-new">
      <a class="bm-save-text" href="https://omniform1.com/signup/v1/5cf158148653ed3ed5351052_61e6e2c87bb78f396b1804cf.html" target="_blank">
        <ul>
          <li class="bm-rcprice-text">New customers click here for your 25% discount</li>
        </ul>
      </a>
    </ul>
  </div>
  <div class="bm-loop-btn bm-loop-subscribe">
    <div class="bm-loop-subscribe-content">
      <div class="bm-loop-subscribe-text">
         <h2 class="bm-loop-subscribe-label">Subscribe & Save</h2><span class="bm-rcprice-save">(Save 25%)</span>
      </div>
      <h2 class="bm-loop-subscribe-price"></h2>
    </div>
    <ul class="bm-rcprice-text-list">
      <li>Modify, skip or cancel at any time</li> 
      <li>We email you 3 days before each renewal</li>
    </ul>
  </div>
</div>

<script>


$(document).ready(function() {

  // add content from top
  let onetimeprice = $("#loop-price-one-time").text();
  $(".bm-loop-onetime-price").text(onetimeprice);
  
  let subscribepriceparent = $(".loop-selling-plan-allocation").parent().parent();
  $(subscribepriceparent).each(function() {
     if($(this).css('display') == 'block'){
       let subscribeprice = $(this).find(".loop-subscription-group-price-amount").text();
       $(".bm-loop-subscribe-price").text(subscribeprice);
     }
  });
  
  
  
  $('.bm-loop-btn').on('click', function() {
     $('.bm-loop-btn').removeClass('bm-loop-selected');
     $(this).addClass('bm-loop-selected');
  });  

  // Click bottom form
  $(".loop-one-time-purchase-option-label").click(function(event) {
      if (event.originalEvent != undefined) {
          $("body").find(".bm-loop-onetime").click();
      }
  });
  $(".loop-subscription-group-text").click(function(event) {
      if (event.originalEvent != undefined) {
          $("body").find(".bm-loop-subscribe").click();
      }
  });

  // Click top form
  $(".bm-loop-onetime").click(function(event) {
      if (event.originalEvent != undefined) {
          $("body").find(".loop-one-time-purchase-option-label").click();
      }
  });
  $(".bm-loop-subscribe").click(function(event) {
      if (event.originalEvent != undefined) {
          // $("body").find(".loop-subscription-group-text").click();
        let subscribepriceparent = $(".loop-selling-plan-allocation").parent().parent();
        $(subscribepriceparent).each(function() {
           if($(this).css('display') == 'block'){
             $(this).find(".loop-subscription-group-text").click();
           }
        });
      }
  });
  
  // price change after variation click
  $(".bm-product-varient-bottom .variant-input").click(function(){
    $(".bm-loop-onetime-text").click();
    setTimeout(function() { 
        var varientoneprice = $("#loop-price-one-time").text();
        console.log(varientoneprice);
        $(".bm-loop-onetime-price").text(varientoneprice);

        let subscribepriceparent = $(".loop-selling-plan-allocation").parent().parent();
        $(subscribepriceparent).each(function() {
           if($(this).css('display') == 'block'){
             let subscribeprice = $(this).find(".loop-subscription-group-price-amount").text();
             $(".bm-loop-subscribe-price").text(subscribeprice);
           }
        });
    }, 100);
    
  });



  

  
  

  
});
</script>

<style>
  .bm-loop-form {
      border: 1px solid #DFDFDF !important;
      border-radius: 5px !important;
      padding: 20px 20px 12px !important;
  }
  .bm-loop-onetime {
    position: relative;
  }
  
  .bm-loop-onetime-text{
      font-family: 'Nunito';
      font-style: normal;
      display: flex !important;
      justify-content: space-between;
      font-weight: 800;
      font-size: 21px;
      color: #253C51;
      padding: 8px 0 8px 30px !important;
      line-height: 26px !important;
      position: relative;
      z-index: 2;
      text-align: left;
      flex-wrap: wrap;
    cursor: pointer;
  }
  .bm-loop-subscribe-content{
    display: flex !important;
    justify-content: space-between;
  }
  .bm-loop-subscribe {
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 800;
      font-size: 21px;
      color: #253C51;
      padding: 8px 0 8px 30px !important;
      line-height: 26px !important;
      position: relative;
      z-index: 2;
      text-align: left;
      flex-wrap: wrap;
    cursor: pointer;
  }
  .bm-loop-onetime:after, .bm-loop-subscribe:after {
      content: "";
      width: 23px;
      height: 23px;
      border-radius: 100%;
      border: 2px solid red;
      position: absolute;
      top: 10px;
      left: 0;
      background-size: 100%;
      z-index: 1;
  }
  .bm-loop-selected:before {
      background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Group_297.png?v=1665753694) no-repeat;
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      top: 10px;
      left: -1px;
      background-size: 100%;
      z-index: 2;
  }
  h2.bm-loop-onetime-label, h2.bm-loop-subscribe-label{
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 800;
      font-size: 21px;
      color: #253C51;
      line-height: 26px !important;
      text-align: left;
  }
  h2.bm-loop-onetime-price, h2.bm-loop-subscribe-price {
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 800;
      font-size: 21px;
      color: #253C51;
      line-height: 26px !important;
      text-align: right;
  }
  .bm-loop-subscribe-text {
      display: flex;
  }
  .bm-loop-selected .bm-rcprice-text-new li {
      display: list-item !important; 
  }
  .bm-loop-selected .bm-rcprice-text-list li {
      display: list-item !important; 
  }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
  
    .bm-loop-form {
        padding: 20px 5px 0 !important;
    }
    .bm-loop-onetime-label,.bm-loop-onetime-price , .bm-loop-subscribe-label , .bm-loop-subscribe-price {
        font-size: 18px !important;
    }
    .bm-rcprice-save {
        font-size: 16px;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 850px) {
    .bm-loop-subscribe-text {
        flex-direction: column;
    }     
  }
  @media only screen and (max-width: 768px) {
    h2.bm-loop-onetime-price, h2.bm-loop-subscribe-price {
        font-size: 18px;
        font-weight: bold;
    }    
  }
  @media only screen and (max-width: 480px) {
    h2.bm-loop-onetime-label, h2.bm-loop-subscribe-label {
        font-size: 18px;
    }
    .bm-loop-form {
        padding: 20px 5px 0 !important;
    }
  }
  @media only screen and (max-width: 400px) {
    .bm-loop-subscribe-text {
        flex-direction: column;
    }
  }
</style>
	{% endunless %}
