{% if product.metafields.bm_pdp.show_bm_Cranberry_video == true %}
<div class="bm-video-content-area">
  <div class="bm-video-container">
    <div class="bm-video-content">
      <div class="bm-video-wrapper">
        <style>.embed-container { border-radius: 15px; position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>

        <div class='embed-container'>
          <iframe src='https://www.youtube.com/embed/{{product.metafields.bm_pdp.bm_Cranberry_video_ID}}' frameborder='0' allowfullscreen></iframe>
        </div>
      </div>
      {% if product.metafields.bm_pdp.bm_Cranberry_video_content != blank %}
      <div class="bm-video-details">
        {% assign bm_Cranberry_video_content = product.metafields.bm_pdp.bm_Cranberry_video_content | split: '***' %}
        {% for item in bm_Cranberry_video_content %}
        <div class="bm-video-details-block">
          <div class="bm-video-details-block-icon">
          </div>
          <div class="bm-video-details-block-details">
            {% assign bm_Cranberry_video_content_details = item | split: '###' %}
            <h2 class="bm-video-details-block-title">
            {{bm_Cranberry_video_content_details.first}}
            </h2>
            <p class="bm-video-details-block-description">
              {{bm_Cranberry_video_content_details.last}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .bm-video-content-area {
    margin: 80px 0 0;
        padding: 20px;
  }
  .bm-video-container {
    border-radius: 15px;
    max-width: 1300px;
    margin: 0 auto;
        padding: 0 20px;
  }
  .bm-video-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .bm-video-wrapper {
    width: 50%;
    margin-right: 70px;
  }
  .bm-video-details {
    width: 50%;
  }
  .bm-video-details-block {
    display: flex;
    margin-bottom: 24px;
  }
  .bm-video-details-block:last-child {
    margin-bottom: 0;
  }
  .bm-video-details-block-icon {
    margin-right: 30px;
    position:relative;
  }
  h2.bm-video-details-block-title {
    font-family: 'Nunito';
    font-style: normal;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 20px;
    color: #253C51;
    line-height: 22px;
  }
  p.bm-video-details-block-description {
        font-family: 'Nunito';
    font-style: normal;
    letter-spacing: 0.02em;
    margin-top: 5px;
    color: #253C51;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
  .bm-video-details-block-icon:after {
        background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Vector_1_cd07513d-ea52-4ace-ad71-85b7fec08860.png?v=1664546727) no-repeat;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 0;
    background-size: 100%;
  }
  .bm-video-wrapper iframe {
    width: 100%;
  }
  @media only screen and (max-width: 768px){
    .bm-video-content {
      padding: 32px 0;
      display: block;
    }
    .bm-video-wrapper {
      width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
    .bm-video-details {
      width: 100%;
    }
    .bm-video-details-block-details:last-child {
      margin-bottom: 0px;
    }
    .bm-video-content-area {
      margin: 40px 0 0;
    }
    .bm-video-details-block {
      margin-bottom: 24px;
    }
    .bm-video-details-block:last-child {
      margin-bottom: 0;
    }
  }
</style>

{% endif %}