@tailwind base;
@tailwind components;
@tailwind utilities;

.sub_div.active,
.otp_div.active {
    background-color: #F2F2F0 !important;
}

.otp_div.active .otp_data {
    display: flex !important;
}

.sub_div.active .sub_data {
    display: block !important;
}

.product_selling_plan.active {
    background: #1c1c1c99 !important;
    color: #FFF !important;
    border: none !important;
}

.product_selling_plans_wrapper.active {
    display: flex !important;
}

.product_data_tabs_wrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.product_data_tab.active {
    color: #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
}

.how_to_use p, .ingredients_richtext p {
    color: #1c1c1c;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.14px;
}

.how_to_use strong, .ingredients_richtext strong {
    color: #1c1c1c;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    margin-bottom: 8px;
}