<div class="bm-as-seen-on">
  <div class="bm-as-seen-on-curved">
    {% if section.settings.bm_as_seen_on_title != blank %}
    <h2 class="bm-as-seen-on-title">
    	{{section.settings.bm_as_seen_on_title}}
    </h2>
    {% endif %}
    <div class="page-width">
      <div class="bm-as-seen-on-main">
        {% for block in section.blocks %}
        <div class="bm-as-seen-on-block">
          {% if block.settings.bm_as_seen_on_block_image != blank %}
          <a href="{{block.settings.bm_as_seen_on_block_image_url}}" target="_blank">
            <div class="bm-as-seen-on-block-image">
              <img loading="lazy" src="{{block.settings.bm_as_seen_on_block_image | img_url: 'master' }}" alt="">
            </div>
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "As Seen On",
    "settings": [

        {
          "type": "text",
          "id": "bm_as_seen_on_title",
          "label": "Heading"
        }

	],
	"blocks": [
     {
       "name": "Brand Logo",
       "type": "Logo",
       "settings": [
		 {
            "type": "image_picker",
            "id": "bm_as_seen_on_block_image",
            "label": "Brand Logo"
         },
		 {
            "type": "url",
            "id": "bm_as_seen_on_block_image_url",
            "label": "Logo Link"
         }
       ]
     }
   ],
    "presets": [
      {
        "name": "As Seen On",
        "category": "BM Sections"
      }
    ]
  }
{% endschema %}

