<div class="bm-icon-area">
    <div class="bm-icon-area-main">
        <div class="bm-icon-area-content">
            {% for block in section.blocks %}
            <div class="bm-icon-area-item">
                <div class="bm-icon-area-img">
                    {% if block.settings.bm_icon_img != blank %}
                    <img src="{{block.settings.bm_icon_img | img_url:"master" }}"/>
                    {% endif %}
                </div>
                {% if block.settings.bm_icon_text != blank %}
                <h2>{{block.settings.bm_icon_text}}</h2>
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>
</div>



{% schema %}
  {
    "name": "Icon Area",
    "settings": [
        
	],
	"blocks": [
     {
       "name": "content",
       "type": "text",
       "settings": [
            {
                "type": "image_picker",
                "id": "bm_icon_img",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "bm_icon_text",
                "label": "Text"
            }
       ]
     }
   ]
    
  }
{% endschema %}	