<div class="bm-birthday-content">
  <div class="page-width">
    <div class="bm-birthday-main">
      {{ section.settings.bm_birthday_form }}
    </div>
  </div>
</div>
<style>
.bm-birthday-content {
    padding: 50px 0;
}
.main-content {
    min-height: auto;
}
</style>

{% schema %}
  {
    "name": "Klaviyo Form",
    "settings": [
      {
        "type": "html",
        "id": "bm_birthday_form",
        "label": "Form Id"
      }
    ],
    "presets": [
      {
        "name": "Klaviyo Form",
        "category": "Custom content"
      }
    ]
  }
{% endschema %}
