<div class="bm-how-can-we-help">
  <div class="page-width">
    {% if section.settings.bm_how_can_we_help_title != blank %}
    <h2 align="center" class="bm-how-can-help-title">
      {{section.settings.bm_how_can_we_help_title}}
    </h2>
    {% endif %}
    <div class="bm-how-can-we-help-main">
      <div class="bm-how-can-we-help-top">
        <div id="imgWrap" class="cards-product bm-cards-product">
          <div id="img1" class="card-product bm-card-product">
            <img class="lazyload lazyautosizes img1" loading="lazy" data-box="div1" style="margin-bottom: 10px" data-src="https://cdn.shopify.com/s/files/1/0060/4677/7455/files/18.png?v=1649349605"><br>
            <div class="bm-card-product-title">Every day urinary <br>tract health</div>
            <div class="middle"></div>
          </div>
          <div id="img2" class="card-product bm-card-product">
            <img class="lazyload lazyautosizes img2" loading="lazy" data-box="div2" style="margin-bottom: 10px" data-src="https://cdn.shopify.com/s/files/1/0060/4677/7455/files/19.png?v=1649349606"><br>
            <div class="bm-card-product-title">Sex/trigger <br>associated UTIs</div>
            <div class="middle"></div>
          </div>
          <div id="img3" class="card-product bm-card-product">
            <img class="lazyload lazyautosizes img3" loading="lazy" data-box="div3" style="margin-bottom: 10px" data-src="https://cdn.shopify.com/s/files/1/0060/4677/7455/files/20.png?v=1649349606"><br>
            <div class="bm-card-product-title">I get LOTS <br>of UTIs</div>
            <div class="middle"></div>
          </div>

        </div>
        <div id="product-sect">
          <div id="div1" class="wrapper-product">
            <div class="inner-product bm-inner-product">       
              <div id="one">
                <img loading="lazy" data-src="https://cdn.shopify.com/s/files/1/0152/2181/7444/files/PACs_USA_fe8447bb-11c4-416f-8ad8-daf2b18eb4e2.png?v=1650462863" alt="36PAC" class="lazyload lazyautosizes"><br>
                <span>$39.99</span>
                <br><br>
                <a style="border-bottom: none;text-decoration: none; border-bottom: none;" href="https://www.utivahealth.ca/products/utiva-uti-control" target="blank" class="btn bm-card-product-btn"><span>View Product</span></a>
              </div>
              <div id="two">
                <h3><strong>I want everyday Urinary Tract Health</strong></h3>
                <h3>WE RECOMMEND:</h3>
                <p class="prod-link"><a style="text-decoration: none" href="https://www.utivahealth.ca/products/utiva-uti-control" target="blank">Utiva Cranberry PACs </a></p>
                <p>Cranberry PACs are proven to stop various types of bacteria from sticking to the bladder wall and promoting daily flushing.  Utiva Cranberry PACs provides 36 mg of soluble Proanthocyanidins (PACs) to maintain a healthy urinary tract in one small pill that is also packed with antioxidants.</p>
                <h3>YOU CAN ALSO CONSIDER:</h3>
                <p><a href="https://www.utivahealth.ca/products/utiva-probiotic-power">Utiva Probiotic</a></p>
                <p><a href="https://www.utivahealth.ca/products/36pac-power-bundle">36PAC Power Bundle</a></p>
              </div>
            </div>

          </div>
          <div id="div2" class="wrapper-product">
            <div class="inner-product bm-inner-product"> 
              <div id="one">
                <img class="lazyload lazyautosizes" loading="lazy" data-src="https://cdn.shopify.com/s/files/1/0152/2181/7444/files/PACs___D-Mannose_USA_9b888f6a-d3f6-4bd6-8181-6fc697a15304.png?v=1650462862" alt="36PAC & D-Mannose Bundle (D-Mannose + PAC)"><br>
                <span>$71.98</span>
                <br><br>
                <a style="border-bottom: none;text-decoration: none" href="https://www.utivahealth.ca/products/36pac-d-mannose-bundle" target="blank" class="btn bm-card-product-btn"><span>View Product</span></a>
              </div>
              <div id="two">
                <h3><strong>I get occasional UTIs</strong></h3>
                <h3>WE RECOMMEND:</h3>
                <p><a href="https://www.utivahealth.ca/products/36pac-d-mannose-bundle">36PAC & D-Mannose Bundle</a></p>
                <p>Cranberry PACs are proven to stop various types of bacteria from sticking to the bladder wall and promoting daily flushing.  When faced with multiple triggers, D-mannose is a great option for that extra boost of strength to target E.coli. </p>
                <h3>YOU CAN ALSO CONSIDER:</h3>
                <p><a href="https://www.utivahealth.ca/products/utiva-uti-control">Utiva Cranberry PACs</a></p>
                <p><a href="https://www.utivahealth.ca/products/d-mannose-attack">Utiva D-Mannose</a></p>
                <p><a href="https://www.utivahealth.ca/products/utiva-probiotic-power">Utiva Probiotic</a></p>
                <p><a href="https://www.utivahealth.ca/products/max-power-bundle">MAX Power Bundle</a></p>
              </div>
            </div>
          </div>
          <div id="div3" class="wrapper-product">
            <div class="inner-product bm-inner-product"> 
              <div id="one">
                <img loading="lazy" data-src="https://cdn.shopify.com/s/files/1/0152/2181/7444/files/Product_Page_USA_copy_b51e45df-63b7-4335-a7b6-7abaac653b57.png?v=1650462862" alt="UTI Control 36PAC Cranberry Pills Supplement" class="lazyload lazyautosizes"><br>
                <span>$103.47</span>
                <br><br>
                <a style="border-bottom: none;text-decoration: none" href="https://www.utivahealth.ca/products/max-power-bundle" target="blank" class="btn bm-card-product-btn"><span>View Product</span></a>
              </div>
              <div id="two">
                <h3><strong>I get LOTS of UTIs</strong></h3>
                <h3>WE RECOMMEND:</h3>
                <p><a href="https://www.utivahealth.ca/products/max-power-bundle">MAX Power Bundle</a></p>
                <p>Cranberry PACs are proven to stop various types of bacteria from sticking to the bladder wall and promoting daily flushing.  When faced with multiple triggers, D-mannose is a great option for that extra boost of strength to target E.coli. The addition of Utiva Probiotic will help to restore gut health and recover from antibiotic usage.</p>
                <h3>YOU CAN ALSO CONSIDER:</h3>
                <p><a href="https://www.utivahealth.ca/products/utiva-uti-control">Utiva Cranberry PACs</a></p>
                <p><a href="https://www.utivahealth.ca/products/d-mannose-attack">Utiva D-Mannose</a></p>
                <p><a href="https://www.utivahealth.ca/products/utiva-probiotic-power">Utiva Probiotic</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="bm-how-can-we-help-bottom">

        <p class="bm-how-can-we-help-bottom-text" style="text-align:center"><b>Not sure what you need? Take our quiz</b> so we can<br> personalize our offering for you.</p>
        <p style="text-align:center"><a class="btn bm-card-product-btn" style="border-radius: 0" href="/pages/quiz">Take the Quiz</a>
        </p>
      </div>

    </div>

  </div>
</div>
{% schema %}
  {
    "name": "How can we help",
    "settings": [
		 {
            "type": "text",
            "id": "bm_how_can_we_help_title",
            "label": "Heading"
         }
	],
    "presets": [
      {
        "name": "How can we help",
        "category": "BM Sections"
      }
    ]
  }
{% endschema %}

