<div class="w-full min-h-[125px] lg:min-h-[250px] bg-[#91d5d0] flex items-center justify-start lg:justify-center relative overflow-hidden">
    <img class="absolute left-0 w-full object-contain max-w-[500px] hidden lg:!block" src="https://cdn.shopify.com/s/files/1/0060/4677/7455/files/img.png?v=1697921588" alt="">
    <h1 class="text-2xl lg:text-[56px] text-white pl-6 lg:p-0 text-left lg:text-right relative z-[2] max-w-[55vw] lg:max-w-none">{{ collection.title }}</h1>
    <img class="absolute right-0 w-full object-contain max-w-[250px] lg:max-w-[600px]" src="https://cdn.shopify.com/s/files/1/0060/4677/7455/files/img_dde8de2a-21b8-49d6-9069-c69859101994.png?v=1697921593" alt="">
</div>


{% schema %}
{
  "name": "Custom Collection Banner",
  "tag": "section",
  "class": "custom-collection-banner relative",
  "settings": [
  ]
}
{% endschema %}