<div class="px-6 pt-10 pb-6 md:flex md:items-start md:justify-between md:gap-x-6 md:py-20 md:px-[9.6rem]">
  <h2 class="text-[3.2rem] leading-[3.84rem] -tracking-[0.64px] text-[#1c1c1c] mb-8 md:w-[40rem] md:mt-12">{{ section.settings.title }}</h2>
  <div class="rounded-[1.6rem] overflow-hidden relative md:w-[80rem] md:h-[46rem]">
    <div class="fade z-10 absolute top-0 left-0 bottom-0 right-0 bg-[#1c1c1c38] flex items-center justify-center">
      <div class="playbutton p-4 rounded-[6rem] backdrop-blur-[8px] bg-[#f2f2f066]">
        <svg
          class="pointer-events-none"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none">
          <path d="M9.33301 7.66333C9.33301 6.081 11.0835 5.12532 12.4145 5.98097L25.3827 14.3176C26.6073 15.1049 26.6073 16.8951 25.3827 17.6824L12.4145 26.019C11.0835 26.8747 9.33301 25.919 9.33301 24.3367V7.66333Z" fill="white" />
        </svg>
      </div>
    </div>
    <video class="section_video object-cover w-full h-full" poster="{{ section.settings.video.preview_image.src | img_url: '800x800' }}">
      <source src="{{ section.settings.video.sources[1].url }}">
    </video>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".fade .playbutton").addEventListener("click", (e) => {
      e.target.classList.add("hidden");
      e
        .target
        .closest(".fade")
        .classList
        .add("hidden");

      document.querySelector(".section_video").play();
    });

    document.querySelector(".section_video").addEventListener("click", (e) => {
      e.target.pause();
      document.querySelector(".fade").classList.remove("hidden");
      document.querySelector(".fade .playbutton").classList.remove("hidden");
    });
  });
</script>

{% schema %}
  {
    "name": "How to use",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "How to use",
        "label": "Title"
      }, {
        "type": "video",
        "id": "video",
        "label": "Video"
      }
    ]
  }
{% endschema %}