<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center py-12">
  <div>

<svg class="mx-auto w-full max-w-[235px] lg:max-w-none" width="380" height="152" viewBox="0 0 380 152" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M74.1064 142.463V21.6114C74.1064 19.6747 71.6286 18.8687 70.4891 20.4348L8.5612 105.552C7.59944 106.874 8.54371 108.729 10.1785 108.729H95.25" stroke="#C33635" stroke-width="14" stroke-linecap="round"/>
  <path d="M181.475 1.35422C181.537 1.29519 181.636 1.32739 181.708 1.39716L181.692 1C181.692 1 199.393 26.7512 202.208 50.0416C205.023 73.3321 184.802 72.9537 184.802 72.9537V72.951C184.76 72.9644 184.706 72.9564 184.652 72.9188C182.315 71.314 164.032 58.0815 164.872 37.4532C165.698 17.2193 179.269 3.46349 181.475 1.35422Z" fill="url(#paint0_linear_3858_5562)"/>
  <path d="M247.616 18.1666C247.785 18.1532 247.943 18.2659 248.013 18.4001L248.354 17.9626C248.354 17.9626 257.287 59.4877 240.655 86.6102C224.022 113.733 186.509 97.3417 186.509 97.3417L186.512 97.339C186.421 97.3175 186.327 97.2692 186.26 97.1833C183.391 93.6196 161.595 65.0185 182.57 43.6307C203.147 22.6481 241.498 18.6738 247.616 18.1666Z" fill="url(#paint1_linear_3858_5562)"/>
  <path d="M236.713 89.7315C236.713 113.382 221.143 133.395 199.694 140.083C216.89 131.399 228.684 113.569 228.684 92.9866C228.684 63.8622 205.077 40.2551 175.952 40.2551C170.481 40.2551 165.202 41.0897 160.24 42.6354C167.376 39.0314 175.442 37 183.981 37C213.106 37 236.713 60.6071 236.713 89.7315Z" fill="#A63635"/>
  <path d="M228.684 92.9866C228.684 113.569 216.892 131.399 199.694 140.083C194.732 141.631 189.453 142.463 183.982 142.463C154.857 142.463 131.25 118.856 131.25 89.7315C131.25 69.1488 143.041 51.3193 160.24 42.6354C165.202 41.087 170.481 40.2551 175.952 40.2551C205.077 40.2551 228.684 63.8622 228.684 92.9866Z" fill="#C33635"/>
  <path d="M152.475 66.163C155.341 62.3916 155.817 57.9307 153.538 56.1993C151.26 54.4678 147.089 56.1215 144.224 59.8929C141.358 63.6643 140.882 68.1252 143.161 69.8566C145.439 71.5881 149.609 69.9344 152.475 66.163Z" fill="white"/>
  <path d="M142.136 74.9996C143.116 73.7098 143.095 72.045 142.09 71.281C141.085 70.5171 139.475 70.9433 138.495 72.2331C137.515 73.5229 137.535 75.1877 138.541 75.9517C139.546 76.7156 141.156 76.2894 142.136 74.9996Z" fill="white"/>
  <path d="M349.369 142.463V21.5562C349.369 19.6249 346.902 18.8153 345.758 20.371L283.093 105.543C282.122 106.864 283.065 108.729 284.704 108.729H370.75" stroke="#C33635" stroke-width="14" stroke-linecap="round"/>
  <defs>
  <linearGradient id="paint0_linear_3858_5562" x1="182.643" y1="-1.26533" x2="184.242" y2="73.8543" gradientUnits="userSpaceOnUse">
  <stop stop-color="#0BAD92"/>
  <stop offset="0.00702616" stop-color="#0BAD92"/>
  <stop offset="0.6266" stop-color="#03937D"/>
  <stop offset="0.9964" stop-color="#008975"/>
  </linearGradient>
  <linearGradient id="paint1_linear_3858_5562" x1="247.2" y1="62.6125" x2="177.654" y2="53.6489" gradientUnits="userSpaceOnUse">
  <stop stop-color="#0BAD92"/>
  <stop offset="0.00702616" stop-color="#0BAD92"/>
  <stop offset="0.6266" stop-color="#03937D"/>
  <stop offset="0.9964" stop-color="#008975"/>
  </linearGradient>
  </defs>
  </svg>
  
  </div>
  <h1 class="title text-xl font-normal lg:text-[28px]">
    Oops! We can’t seem to find the page you are looking for
  </h1>
  <a href="{{ shop.url }}" class="button w-full lg:w-auto px-8 py-4 border border-solid border-[#C33635] rounded-full text-base font-medium text-[#C33635] tracking-normal">
    Visit Home page
  </a>
</div>
