@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200&display=swap'); 

/*styling start for bm-collection-header */



.bm-collection-header-top {
  border-bottom: 1px solid #ede7e7;
  padding: 30px 0;
}

.bm-collection-header-top h2 {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  font-family: 'Nunito' ,sans-serif;
  margin-bottom: 0;
  line-height: 62px;
  color: #253C51;
}
.bm-collection-header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.bm-collection-header-menu-block a {
  font-weight: bold;
  font-size: 21px;
  line-height: 36.11px;
  color: #253C51;
  position: relative;
}
.bm-collection-header-menu-block a:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  top: 4px;
  background: #87cec6;
  left: -30px;
}
.bm-collection-header-menu-block a.bm-no-border:after{
  width: 0;
  height: 0;
}
.bm-collection-header-menu-block a.active:after {
  top: 9px;
}
.bm-collection-header-menu-block a.active {
  background: #d4212c;
  color: #fff;
  padding: 5px 15px;
  border-radius: 26px;
}
.bm-collection-header-menu-block {
  margin-right: 45px;
}
.bm-collection-header-menu-block:last-child {
  margin-right: 0;
}
@media only screen and (max-width:767px){
  .bm-collection-header-main {
    padding: 0 30px;
  }

  .bm-collection-header-top h2 {
    font-size: 30px;
    line-height: 34px;
    padding-top: 30px;
  }

  .bm-collection-header-menu {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    overflow: scroll;
    overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .bm-collection-header-menu::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
/*styling end for bm-collection-header */

/* styling start for bm-collection-template */
div#bm-collection-template-main {
  margin-top: 40px;
}

.bm-collection-product {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
.bm-product-item {
  width: calc(33.33% - 20px);
  background: #FFFFFF;
  border: 2px solid #e4e5e5;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.bm-product-iamge {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bm-product-content {
  width: 50%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bm-product-iamge img {
  width: 100%;
  height: auto;
  display: block;
}
.bm-product-iamge a {
  display: block;
}
.bm-product-content {
  width: 50%;
  padding: 20px 15px;
}
.bm-product-content h2 {
  font-family: 'Nunito' ,sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #253C51;
  margin-bottom: 10px;
}
.bm-product-content p {
  font-family: 'Nunito' ,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #253C51;
  margin-bottom: 10px;
}
.stamped-badge-caption {
  font-size: 12px;
  line-height: 12px;
}
.bm-shop-now-btn {
  font-size: 18px;
  padding: 8px 28px;
  margin-top: 8px;
  background: #d4212c;
  color: #fff;
  font-family: nunito;
  border-radius: 5px;
}
.stamped-fa-star:before {
  font-size: 16px;
  margin-right: -1px;
}

.bm-pagination {
  margin-bottom: 80px;
}




.bm-popular-badge {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  z-index: 1;
  left: 0;
}
.bm-popular-badge span {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background: #8BCFCA;
  padding: 10px;
  display: inline-block;
}
@media only screen and (max-width: 1200px){

  .bm-shop-now-btn {
    padding: 8px 13px;
  }
  .stamped-badge-caption {
    display: block;
  }
}
@media only screen and (max-width: 1024px){
  .bm-shop-now-btn {
    padding: 8px 20px;
  }
  .bm-product-item {
    width: calc(50% - 20px);
  }
}
@media only screen and (max-width: 768px){
  .bm-product-item {
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
  }
  .bm-collection-product {
    gap: 0;
  }
  .bm-pagination .pagination {
    padding: 40px 0 0;
  }
}
@media only screen and (max-width: 414px){
  .bm-product-item {
    flex-direction: column;;
  }
  .bm-product-content {
    width: 100%;
  }
  .bm-product-iamge {
    width: 100%;
  }

}

/* styling end for bm-collection-template */

/* styling start for bm-collection-feature-image */

.bm-collection-feature-image {
  background: #eaebeb;
  padding: 60px 0;
  margin: 30px 0;
}
.bm-collection-header-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bm-collection-header-quiz h2 {
  font-family: 'Nunito' ,sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 36px;
  color: #253C51;
  margin: 0;
  padding-right: 15px;
}
.bm-collection-header-quiz-btn a {
  font-family: 'Nunito' ,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  background: #d4212c;
  border-radius: 8px;
}
.bm-collection-feature-image-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  max-height: 270px;
}
.bm-bottom-feature-image {
  width: 50%;
}
.bm-bottom-feature-image img {
  width: 100%;
  height: auto;
  display: block;
}
.bm-bottom-feature-image-content {
  width: 50%;
  padding: 20px 30px 20px 50px;
}
.bm-bottom-feature-image-content h2 {
  font-family: 'Nunito' ,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: #253c51;
  margin-bottom: 10px;
}
.bm-bottom-feature-image-content p {
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #253c51;
  margin-bottom: 40px;
}
.bm-bottom-feature-image-content p:first-child {
  display:none;
}
.bm-bottom-feature-image-content a {
  font-weight: 700;
  font-size: 21px;
  line-height: 36.11px;
  color: #253c51;
}

@media only screen and (max-width:930px){
  .bm-collection-header-quiz h2 {
    font-size: 18px;
  }
  .bm-collection-feature-image-bottom {
    max-height: 300px;
  }
  .bm-bottom-feature-image-content p {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width:768px){
  .bm-collection-feature-image {
    padding: 40px 0;
  }
  .bm-collection-header-quiz {
    flex-direction: column;
  }
  .bm-collection-header-quiz h2 {
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
  }
  .bm-collection-feature-image-bottom {
    flex-direction: column;
    max-height: 100%;
  }
  .bm-bottom-feature-image {
    width: 100%;
  }
  .bm-bottom-feature-image-content {
    width: 100%;
    padding: 20px 20px;
  }
  .bm-collection-header-quiz-btn a{
    font-size: 22px;
    padding: 8px 25px;
    line-height: 25px;
  }
}
/* styling end for bm-collection-feature-image */


/* styling start for bm-collection-filters */

.bm-collection-filters-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bm-collection-filters-left {
  display: flex;
  width: auto;
  justify-content: end;
  align-items: center;
}
.bm-collection-product-count h2 {
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #253c51;
  margin-bottom: 0;
  margin-right: 15px;
}
.bm-collection-filters-sort {
  background: #db222d;
  padding: 5px 15px;
  color: #fff;
  border-radius: 5px;
  margin-right: 15px;
}
.bm-collection-filters-sort select#sorting {
  border: none;
  width: 60px;
  height: 30px;
  padding: 0;
  line-height: 1;
  background-position: right 0px center;
  background-image: url(//cdn.shopify.com/s/files/1/0060/4677/7455/files/Category_page-01.png?v=1651383727);
  background-size: 14px;  
}
.bm-collection-shipping-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.bm-collection-shipping-icon-block h2 {
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #253c51;
  margin-bottom: 0;
  margin-left: 6px;
}
.bm-collection-shipping-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.bm-collection-shipping-icon-block h2 br {
  display: none;
}
.bm-collection-shipping-icon-block img {
  display: block;
}

@media only screen and (max-width:768px){

  .bm-collection-filters-main {
    flex-direction: column;
  }
  .bm-collection-filters-left {
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .bm-collection-shipping-icon {
    justify-content: start;
    flex-direction: column;
    width: 100%;
  }
  .bm-collection-shipping-icon-block {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
  }
  
  .bm-collection-shipping-icon-block h2 br {
    display: none;
  }
}
@media only screen and (max-width:414px){
  .bm-collection-shipping-icon-block h2 br {
    display: block;
  }
}



/* styling end for bm-collection-filters */

/* styling start for bm-collection-bundles */

.bm-collection-bundles {
  margin-top: 80px;
}
.bm-collection-bundles-product-title h2 {
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  padding: 10px 51px 10px 30px;
  text-align: center;
  color: #fff;
  background: #d4212c;
  border-radius: 8px;
  max-width: 350px;
  margin: 0 auto 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  background-image: url(//cdn.shopify.com/s/files/1/0060/4677/7455/files/Category_page-01.png?v=1651383727);
  background-repeat: no-repeat;
  background-position: right 30px center;
  background-size: 14px;
  cursor: pointer;
}
.bm-collection-bundles-product-title.bm-arrow-down h2 {
  background-image: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Untitled-1_b1dd6e47-4d6a-4d6f-b47b-5d2545d7b1a9_80x.png?v=1651384431);
}
.bm-collection-bundles-product-title h2:after {
  content:'';
}
.bm-collection-bundles-product {
  gap: 30px;
  flex-wrap: wrap;
  display: none;
}
.bm-collection-bundles-product.bm-bundles-show {
  display: flex;
}

@media only screen and (max-width:768px){
  .bm-collection-bundles {
    margin-top: 40px;
  }
} 
@media only screen and (max-width:414px) {

  .bm-collection-bundles-product-title h2 {
    font-size: 18px;
    padding: 10px 37px 10px 10px;
    background-position: right 16px center;
  }
}
/* styling end for bm-collection-bundles */


/* styling start for bm-collection-utiva-difference */
.bm-collection-utiva-difference {
  margin-top: 80px;
}

h2.bm_collection_utiva--defference-tittle {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  font-family: Nunito,sans-serif;
  margin-bottom: 0;
  line-height: 62px;
  color: #253c51;
  margin-bottom: 40px;
}
.bm-collection-utiva-difference-main {
  max-width: 950px;
  margin: 0 auto;
}
.bm-collection-utiva-difference-bottom {
  display: flex;
  align-items: center;
}
.bm-collection-utiva-difference-bottom {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 35px;
}
.bm-collection-utiva-difference-block {
  width: calc(33.33% - 20px);
}
.bm-difference-block-img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.bm-difference-block-img img {
  width: 100%;
  height: 100%;
}
.bm-collection-utiva-difference-block h2 {
  font-family: Nunito,sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 22.47px;
  color: #253c51;
  margin-top: 15px;
}

@media only screen and (max-width:768px) {
  .bm-collection-utiva-difference {
    margin-top: 60px;
  }
  h2.bm_collection_utiva--defference-tittle {

    margin-bottom: 30px;
    font-size: 30px;
    line-height: 34px;
  }
  .bm-collection-utiva-difference-block {
    width: calc(50% - 15px);
  }
  .bm-collection-utiva-difference-bottom {
    align-items: normal;
  }
}


/* styling end for bm-collection-utiva-difference */


/* styling start for bm-collection-review*/

.bm-collection-review {
  background: #eaebeb;
  padding: 80px 0;
}	
h2.bm-collection-review-tittle {
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  font-family: Nunito,sans-serif;
  line-height: 62px;
  color: #253c51;
  max-width: 823px;
  margin: 0 auto;
  margin-bottom: 40px;
}
h2.bm-collection-review-tittle span {
  font-weight: 700;
}
.bm-collection-review-bottom-block {
  width: calc(33.33% - 34px);
  background: #fff;
  padding: 20px 30px;
  border-radius: 20px;
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.bm-collection-review-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  text-align: center;
}
.bm-collection-review-block-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: absolute;
  top: -75px;
  left: calc(50% - 75px);
}
.bm-collection-review-block-img img {
  width: 100%;
  height: 100%;
}
.bm-collection-review-img img {
  width: 100%;
  height: auto;
}
.bm-collection-review-img {
  width: 120px;
  margin: 75px auto 0;
}
.bm-collection-review-content h2 {
  font-family: Nunito,sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 22.47px;
  color: #253c51;
  margin-top: 15px;
  text-align: left;
}
.bm-collection-review-content p {
  font-family: Nunito,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #253c51;
  margin-bottom: 10px;
  text-align: left;
  padding: 20px 0;
  border-top: 1px solid #8c9095;
}
.bm-collection-review-bottom-content {
  border-top: 2px solid #eceff3;
}
.bm-collection-review-bottom-content h2 {
  font-family: Nunito,sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.47px;
  color: #253c51;
  margin-top: 15px;
  margin-bottom: 8px;
}
.bm-collection-review-bottom-content p {
  font-family: Nunito,sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #253c51;
  text-align: center;
  margin: 0;
}
.bm-collection-review-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.bm-collection-review-rate-img {
  width: 120px;
  height: auto;
  margin-right: 15px;
  margin-left: 15px;
}
.bm-collection-review-rate-img img {
  width: 100%;
  height: 100%;
}
.bm-collection-review-rate p {
  font-family: Nunito,sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.47px;
  color: #253c51;
  margin-top: 15px;
}
.bm-collection-review-btn a {
  font-family: Nunito,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  background: #d4212c;
  border-radius: 8px;
}
.bm-collection-review-btn {
  text-align: center;
  margin-top: 50px;
}

@media only screen and (max-width:768px){
  h2.bm-collection-review-tittle {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 34px;
  }
  .bm-collection-review {
    padding: 40px 0 60px;
  }
  .bm-collection-review-bottom {
    flex-direction: column;
  }
  .bm-collection-review-bottom-block {
    width: 100%;
  }
}

/* styling end for bm-collection-review*/


/* styling start for bm-collection-recent-articles */
.bm-collection-recent-articles {
  margin-top: 80px;
  margin-bottom: 50px;
  overflow: hidden;
}
.bm-collection-recent-articles-main h2 {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  font-family: Nunito,sans-serif;
  margin-bottom: 40px;
  line-height: 62px;
  color: #253c51;
}

.bm-collection-recent-block-img img {
  width: 100%;
  height: auto;
}
.bm-collection-recent-articles-block p {
  font-family: Nunito,sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 22.47px;
  color: #253c51;
  margin-top: 15px;
  text-align: center;
  padding: 0 10px;
}
/* slick */

.bm-collection-recent-articles .slick-list.draggable {
  width: 90%;
  margin: 0 auto;
}
.bm-collection-recent-articles button.slick-prev.slick-arrow {
  display: block !important;
  background: #d4212c;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  left: 0;
}
.bm-collection-recent-articles button.slick-next.slick-arrow{
  display: block !important;
  background: #d4212c;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  right: 0;
}
.bm-collection-recent-articles .slick-prev, .slick-next {
  top: 38%;
}

.bm-collection-recent-articles .slick-next:before {
  background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Vector_8_2.png?v=1646719008) no-repeat;
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  background-size: 100%;
  top: 10px;
  right: 13px;
  transform: none;
  opacity: 1;
}
.bm-collection-recent-articles .slick-prev:before {
  background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Vector_8_3.png?v=1646719008) no-repeat;
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  background-size: 100%;
  top: 10px;
  left: 12px;
  transform: none;
  opacity: 1;
}
.bm-collection-recent-articles .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.bm-collection-recent-articles-block.slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}
.bm-collection-recent-articles .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 16px 0;
  list-style-type: none;
  bottom: 80px;
  left: 19.5%;
  align-items: center;

}
.bm-collection-recent-articles .slick-dots li {
  margin: 0 7px;
}
.bm-collection-recent-articles .slick-dots button {
  display: block;
  width: 11px !important;
  height: 11px !important;
  padding: 0;
  border: none;
  border-radius: 100%;
  background: rgba(196, 196, 196, 0.5);
  text-indent: -9999px;

}

.bm-collection-recent-articles .slick-dots li.slick-active button {
  background: #C4C4C4;
  width: 14px !important;
  height: 14px !important;
}

@media only screen and (max-width: 1100px) {
  .bm-collection-recent-articles button.slick-prev.slick-arrow {
    left: -20px;
  }
  .bm-collection-recent-articles button.slick-next.slick-arrow {
    right: -20px;
  }
}

@media only screen and (max-width: 768px) {
  .bm-collection-recent-articles {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .bm-collection-recent-articles-main h2 {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 34px;
  }
}
/* styling end for bm-collection-recent-articles */



























