
/*styling start for bm-hero section*/
.bm-hero-container {
  position: relative;
  margin-bottom: -9px;
}
.bm-hero-content-top {
  position: absolute;
  top: 70px;
  z-index: 1;
  left: 229px;
}
h2.bm-hero-content-top-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: #253c51;
}
p.bm-hero-content-top-description {
  max-width: 345px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 30.39px;
  color: #253c51;
  margin-bottom: 50px;
}
p.bm-hero-content-top-description i {
    font-weight: normal;
}
.bm-hero-content-button {
  max-width: 190px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  background: #D71F37;
  border-radius: 8px;
  color: #f7fffa;
  padding: 10px 30px;
}
@media only screen and (min-width: 1500px) {
   .bm-hero-content-top {
    left: 290px;
   }
  .bm-hero-content-button {
    left: 300px;
    bottom: 100px;
  }
  .hero__image {
    max-height: 750px;
  }
}
@media only screen and (max-width: 1370px) {
  .bm-hero-content-top {
    left: 40px;
    top:30px;
  } 
  p.bm-hero-content-top-description {
    margin-bottom: 35px;
  }
}
/* @media only screen and (max-width: 1100px) {
  .bm-hero-content-button {
    font-size: 23px;
    line-height: 24px;
    padding: 8px 30px;
    text-align: center;
}
} */
@media only screen and (max-width: 1024px) {
  h2.bm-hero-content-top-title {
    font-size: 40px;
    line-height: 46px;
  }
  p.bm-hero-content-top-description {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }
}
/* @media only screen and (max-width: 900px) {
  .bm-hero-content-button {
    font-size: 20px;
    line-height: 20px;
    padding: 8px 20px;
    text-align: center;
  }
} */
@media only screen and (max-width: 768px) {
  .bm-hero-content-button {
    font-size: 22px;
    line-height: 29px;
    padding: 8px 25px;
    max-width: 160px;
    margin: 0 auto;
  }
  h2.bm-hero-content-top-title {
    font-size: 40px;
    margin-bottom: 16px;
    display: none;
  }
  .bm-hero-content-top {	
	/*     top: 40px;	
    left: 50%;	
    transform: translate(-50%, 0);	
    width: 370px; */	
    text-align: center;	
    position: unset;	
/*     background: #f2f2f2;	 */
    padding: 32px 15px 0;	
    width: 100%;
  }
  p.bm-hero-content-top-description {
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 20px;
    padding-right: 0;
    max-width: 100%;
    display: none;
  }  
  .bm-hero-container a {
    display: flex;
/*     flex-direction: column-reverse; */
    flex-direction: column;
  }
  .hero__image {
	/*     max-height: 670px;	
    object-fit: cover;	
    object-position: 0% 64%; */	
    height: auto;
  }
  .bm-hero-container {
    margin-bottom: -7px;
  }

}

@media only screen and (max-width: 400px) {
/*   .bm-hero-content-top {
    top: 40px;
    left: 50%;
    transform: translate(-50%, 10px);
    width: 300px;
    text-align: center;
  }
  .hero__image {
    max-height: 638px;
  } */
/*   .bm-hero-content-top {
    bottom: 18%;
  } */
  h2.bm-hero-content-top-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 16px;
  }
  p.bm-hero-content-top-description {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 15px;
    padding-right: 0;
  }
}


/*styling end for bm-hero section*/

/*styling start for bm-helping-people section*/
.bm-helping-people {
  margin-top: 70px;
}
.bm-helping-people-main {
  margin: 80px auto 0;
  display: flex;
  text-align: center;
  background: rgba(234, 235, 235, 0.33);
  padding: 85px 60px 70px;
}
h2.bm-helping-people-main-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 54px;
  text-align: center;
  color: #253c51;
  margin: 0;
}
h2.bm-helping-people-main-title span {

  font-weight: 700;
}
.bm-helping-people-main-block {
  width: 33.33%;
  margin-right: 25px;
}
.bm-helping-people-main-block:last-child {
  margin-right: 0;
}
.bm-helping-people-main-left {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 21px;
}
.bm-helping-people-main-block-image img {
  display: block;
  width: 100%;
  height: 100%;
}
p.bm-helping-people-main-block-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 22px;
  color: #000000;
}
h2.bm-helping-people-main-block-title {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
}
h2.bm-helping-people-main-block-title span {
  font-size: 35px;
}
p.bm-helping-people-main-block-description {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.bm-helping-people-top {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1164px;
  margin: 0 auto;
  margin-top: 70px;
}
.bm-health-block {
  width: 25%;
  text-align: center;
  margin-right: 35px;
  padding: 0 5px;
}
.bm-health-block:hover .bm-health-block-item{
  color: #fff;
  transition: all 0.3s;
}
.bm-health-block-hover-one .bm-health-block-item:hover {
  background: #D3212C;
  transition: all 0.3s;
}
.bm-health-block-hover-two .bm-health-block-item:hover {
  background: #F15B29;
  transition: all 0.3s;
}
.bm-health-block-hover-three .bm-health-block-item:hover {
  background: #006A80;
  transition: all 0.3s;
}
.bm-health-block-hover-four .bm-health-block-item:hover {
  background: #253C51;
  transition: all 0.3s;
}
p.bm-helping-people-subtitle {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #DB222D;
  margin: 0;
}
.bm-health-block:hover p.bm-helping-people-subtitle{
  color: #8AD4CB;
}
.bm-health-block:last-child {
  margin-right: 0;
}
.bm-health-block-item {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #253C51;
  background: #EAEBEB;
  border-radius: 15px;
  max-width: 256px;
  min-height: 196px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  padding: 0 10px;
}
.bm-health-block-hover-four .bm-health-block-item {
  line-height: 40px;
}
.bm-helping-people-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1084px;
  margin: 0 auto;
  margin-top: 75px;
}
.bm-helping-middle-img {
  width: 50%;
}
.bm-helping-middle-img img {
  width: 100%;
  height: 100%;
}
.bm-helping-people-middle p {
  width: 50%;
  margin-left: 65px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  color: #000000;
}
.bm-helping-people-middle p span {
  font-weight: 700;
}
@media only screen and (min-width:769px) and (max-width: 1024px) {
  p.bm-helping-people-main-block-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
  }
  p.bm-helping-people-main-block-description {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 768px) {
  .bm-helping-people {
    margin-top: 60px;
  }
  .bm-helping-people-main {
    margin: 30px auto 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 30px 15px;
  }
  .bm-helping-people-main-block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .bm-helping-people-main-left {
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
  }
  .bm-helping-people-main-block-image {
    max-width: 90px;
    margin: 0 auto;
  }
  .bm-helping-people-main-block-image img {
    width: 100%;
    height: 100%;
  }
  h2.bm-helping-people-main-title {
    font-size: 30px;
    line-height: 34px;
    color: #253c51;

  }
  h2.bm-helping-people-main-title br {
    display: none;
  }
  p.bm-helping-people-main-block-description {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0;
  }

  .bm-helping-people-main-block:last-child {
    margin-bottom: 0;
  }
  p.bm-helping-people-main-block-title {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
  }
  .bm-helping-people-top {
    margin: 50px auto 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .bm-health-block {
    margin-right: 0;
    max-width: 100%;
    width: 43%;
    padding: 0;
  }
  .bm-health-block-item {
    font-size: 22px;
    line-height: 26px;
    min-height: 150px;
    margin: 0 auto;
  }
  p.bm-helping-people-subtitle {
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .bm-helping-people-middle {
    margin: 50px auto 0;
    flex-direction: column;
  }
  .bm-helping-middle-img {
    width: 100%;
  }
  .bm-helping-people-middle p {
    width: 100%;
    margin-left: 0;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .bm-health-block-hover-four .bm-health-block-item {
    line-height: 20px;
  }
}
/*styling end for bm-helping-people section*/

/* styling start for bm-popular-solutions-product section */
.bm-popular-solutions-product {
  background: #ebecec;
  overflow: hidden;
}

h2.bm-popular-solutions-product-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #253c51;
  margin-bottom: 55px;
}
.bm-popular-solutions-product-slider-main {
  background: #FFFFFF;
  border-radius: 30px;
  display: flex;
  border: 2px solid #c91a24;
  padding: 40px;
  max-width: 835px;
  margin: 0 auto;
  align-items: center;
}
.bm-popular-solutions-product-slider-main-left {
  width: 60%;
  padding-right: 70px;
}
.bm-popular-solutions-product-slider-main-right {
  width: 40%;
}
.bm-popular-solutions-product-main {
  margin: 120px 0 0;
  padding: 88px 0 96px;
}
h2.bm-popular-solutions-product-slider-main-left-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 48px;
  color: #253c51;
  border-bottom: 4px solid #CE1921;
  padding-bottom: 10px;
}
p.bm-popular-solutions-product-slider-main-left-text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #253c51;
  margin-bottom: 40px;
}
.bm-popular-solutions-product-left-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 362px;
}
.bm-no-margin{
  margin:0;
}
.bm-popular-solutions-product-left-icon-img {
  width: 18%;
  padding-right: 15px;
}
p.bm-popular-solutions-product-left-icon-text {
  width: 82%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #253c51;
}
.bm-popular-solutions-product-atc {
  margin: 65px auto 5px;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  background: #D71F37;
  border-radius: 8px;
  color: #f7fffa;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
}

/* slick */


.bm-popular-solutions-product button.slick-prev.slick-arrow {
  display: block !important;
  background: #d4212c;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  left: 10%;
}
.bm-popular-solutions-product button.slick-next.slick-arrow{
  display: block !important;
  background: #d4212c;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  right: 10%;
}

.bm-popular-solutions-product .slick-next:before {
  background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Vector_8_2.png?v=1646719008) no-repeat;
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  background-size: 100%;
  top: 10px;
  right: 13px;
  transform: none;
  opacity: 1;
}
.bm-popular-solutions-product .slick-prev:before {
  background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Vector_8_3.png?v=1646719008) no-repeat;
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  background-size: 100%;
  top: 10px;
  left: 12px;
  transform: none;
  opacity: 1;
}
.bm-popular-solutions-product .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.bm-popular-solutions-product .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 16px 0;
  list-style-type: none;
  bottom: 80px;
  left: 39%;
  align-items: center;

}
.bm-popular-solutions-product .slick-dots li {
  margin: 0 7px;
}
.bm-popular-solutions-product .slick-dots button {
  display: block;
  width: 11px !important;
  height: 11px !important;
  padding: 0;
  border: none;
  border-radius: 100%;
  background: rgba(196, 196, 196, 0.5);
  text-indent: -9999px;

}

.bm-popular-solutions-product .slick-dots li.slick-active button {
  background: #C4C4C4;
  width: 14px !important;
  height: 14px !important;
}
.bm-popular-solutions-product-slider-main-right-image {
  height: auto;
}
.bm-popular-solutions-product-slider-main-right-image img {
  height: auto;
}
@media only screen and (max-width: 1100px) {
  .bm-popular-solutions-product button.slick-prev.slick-arrow {
    left: -20px;
  }
  .bm-popular-solutions-product button.slick-next.slick-arrow {
    right: -20px;
  }
}


@media only screen and (max-width: 768px) {
  .bm-popular-solutions-product {
    margin-top: 50px;
  }
  .bm-popular-solutions-product-slider-main {
    flex-direction: column-reverse;
    box-shadow: none;
    padding: 15px;
    max-width: 87%;
    margin: 0 auto;
  }
  .bm-popular-solutions-product .slick-dots {
    left: 20%;
    bottom: -45px;
  }
  .bm-popular-solutions-product-main {
    margin: 0;
  }
  h2.bm-popular-solutions-product-title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 34px;
  }
  h2.bm-popular-solutions-product-slider-main-left-title {
    font-size: 30px;
    line-height: 34px;
    color: #253c51;
    border-bottom: 2px solid #CE1921;
  }
  p.bm-popular-solutions-product-slider-main-left-text {
    font-size: 18px;
    line-height: 24px;
  }
  p.bm-popular-solutions-product-left-icon-text {
    font-size: 18px;
    line-height: 24px;
    color: #253c51;
  }

  .bm-popular-solutions-product-slider-main-right {
    width: 100%;
  }
  .bm-popular-solutions-product-slider-main-left {
    width: 100%;
    padding: 16px 0;
  }

  .bm-popular-solutions-product-left-icon {
    max-width: 100%;
  }
  .bm-popular-solutions-product .slick-next {
    top: 32% !important;
  }
  .bm-popular-solutions-product .slick-prev{
    top: 32% !important;
  }
  .bm-popular-solutions-product button.slick-prev.slick-arrow {
    left: -20px;
    width: 40px;
    height: 40px;
    z-index: 1;
  }
  .bm-popular-solutions-product button.slick-next.slick-arrow {
    right: -20px;
    width: 40px;
    height: 40px;
    z-index: 1;
  }
  .bm-popular-solutions-product .slick-next:before {
    width: 12px;
    top: 10px;
    right: 13px;
  }
  .bm-popular-solutions-product .slick-prev:before {
    width: 12px;
    top: 9px;
    left: 12px;
  }

  .bm-popular-solutions-product-slider-main-right-image img {
    height: auto;
  }
  .bm-popular-solutions-product-atc {
    margin: 30px auto 5px;
    font-size: 22px !important;
    padding: 8px 25px;
    line-height: 29px;
  }

}

/* styling end for bm-popular-solutions-product section */

/* styling start for bm-how-can-help section */

.bm-how-can-we-help {
  margin-bottom: 80px;
}

h2.bm-how-can-help-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #253c51;
  margin-bottom: 65px;
}

.bm-card-product-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #253c51;
}
.bm-card-product-btn {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  background: #d4212c;
  border-radius: 8px !important;
}
p.bm-how-can-we-help-bottom-text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #253c51;
  margin-top: 45px;
}
.bm-how-can-we-help-main #two {
  margin: 0;
}
.bm-how-can-we-help-main #two a {
  padding-bottom: 2px;
  border-bottom: 2px solid;
  line-height: 36px;
}
.bm-how-can-we-help-main #one {
  padding-bottom: 30px;
}
.bm-how-can-we-help-main div#two p {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #253c51;
  max-width: 600px;
}
.bm-how-can-we-help-main div#two h3 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: #253c51;
}
.bm-how-can-we-help-main div#two h3 strong {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #253c51;
}
.bm-how-can-we-help-main #product-sect .wrapper-product {
  padding-top: 30px;
}

.button-product span {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  background: #d4212c;
  border-radius: 8px!important;
}
.bm-how-can-we-help-bottom {
  display: none;
}
@media only screen and (max-width: 768px) {
  .bm-card-product-btn {
    font-size: 22px;
    padding: 8px 25px;
    line-height: 25px;
  }
  .bm-how-can-we-help {
    margin: 60px 0 60px 0;
  }
  h2.bm-how-can-help-title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .bm-how-can-we-help-main #one {
    margin: 0 auto;
  }
  .bm-how-can-we-help-main div#two h3 strong {
    font-size: 30px;
    line-height: 34px;
  }
  .bm-how-can-we-help-main div#two h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .bm-how-can-we-help-main div#two p {
    font-size: 18px;
    line-height: 24px;
  }
  .bm-how-can-we-help-main #product-sect {
    padding-bottom: 0;
  }
  p.bm-how-can-we-help-bottom-text {
    font-size: 18px;
    line-height: 24px;
  }
  .bm-how-can-we-help .cards-product {
    display: block;
  }
  #img1, #img3, #img5, #img2, #img4, #img6 {
    background: #fff;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .img1, .img2, .img3, .img4, .img5, .img6 {
    float: inherit;
    display: block;
    height: auto;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 0 !important;
  }
  .bm-card-product-title {
    font-size: 22px;
    line-height: 30px;
    margin-top: -10px;
  }
  .bm-card-product-title br {
    display: none;
  }
  .bm-inner-product {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .bm-health-block {
    min-height: 116px;
  }
  .bm-health-block-item {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
  p.bm-helping-people-subtitle {
    font-size: 14px;
    line-height: 16px;
  }
 
}

/* styling end for bm-how-can-help section */

/*styling start for bm-customers-testimonial section */

.bm-customers-testimonial {
  background: #8bd5cc;
  overflow: hidden;
}
.bm-customers-testimonial-main {
  padding-bottom: 50px;
}
h2.bm-customers-testimonial-title {
  padding: 70px 0 55px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #253c51;
  text-align: center;
  margin: 0;
}
.bm-customers-testimonial-slider-dot {
  margin-bottom: -100px;
  position: relative;
  z-index: 1;
}
.bm-customers-testimonial-slider-dot-right {
  width: 580px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.bm-customers-testimonial-slider-dot-right-img {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}
.bm-customers-testimonial-main .slick-slide.slick-active.slick-current .bm-customers-testimonial-slider-dot-right-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.bm-customers-testimonial-slider-dot-right .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bm-customers-testimonial-slider-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 606px;
  background: #fff;
  border-radius: 30px;
  margin: 0 auto;
  padding: 92px 30px 50px;
  position: relative;
}
.bm-customers-testimonial-slider-main:before {
  position: absolute;
  content: "";
  bottom: 26px;
  left: 26px;
  background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/1_1bac37ce-1737-40e2-b90c-cb9a74d25907.png?v=1649846587);
  width: 70px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.bm-customers-testimonial-slider-main:after {
  position: absolute;
  content: "";
  bottom: 26px;
  right: 26px;
  background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/2_9f39e883-359d-404c-9179-8f432bc8cfbd.png?v=1649846587);
  width: 70px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.bm-customers-testimonial-slider-main-left-img {
  width: 320px;
  height: 320px;
  margin: 0 auto;
}
.bm-customers-testimonial-slider-main-left-img img{
  width: 100% ;
  height: 100% ;
}
p.bm-customers-testimonial-slider-main-right-text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #253c51;
  padding: 36px 69px;
  text-align: center;
  max-width: 600px;
  margin: 0;
}
.bm-customers-testimonial-slider-main-right-img {
  max-width: 126px;
  margin: 0 auto;
}
.bm-customers-testimonial-slider-main-right-img img {
  max-width: 126px;
}
.bm-customers-testimonial-slider-main-right-icon {
  width: 70px;
  height: auto;
  position: absolute;
  top: 5px;
  left: -35px;
}
h2.bm-customers-testimonial-slider-main-right-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  color: #253c51;
  margin: 0;
}
h2.bm-customers-testimonial-slider-main-right-title span {
  font-style: italic;
  font-weight: 300;
}
/* slick */
.bm-customers-testimonial button.slick-prev.slick-arrow {
  display: block!important;
  background: #253c51;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  left: -25%;
}
.bm-customers-testimonial button.slick-next.slick-arrow{
  display: block !important;
  background: #253c51;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  right: -25%;
}

.bm-customers-testimonial .slick-next:before {
  background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Vector_8_2.png?v=1646719008) no-repeat;
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  background-size: 100%;
  top: 10px;
  right: 13px;
  transform: none;
  opacity: 1;
}
.bm-customers-testimonial .slick-prev:before {
  background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Vector_8_3.png?v=1646719008) no-repeat;
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  background-size: 100%;
  top: 10px;
  left: 12px;
  transform: none;
  opacity: 1;
}

.bm-customers-testimonial .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 16px 0;
  list-style-type: none;
  bottom: -146%;
  left: 0;
  align-items: center;
  display: none !important;
}
.bm-customers-testimonial .slick-dots li {
  margin: 0 7px;
}
.bm-customers-testimonial .slick-dots button {
  display: block;
  width: 11px !important;
  height: 11px !important;
  padding: 0;
  border: none;
  border-radius: 100%;
  background: rgb(255 255 255 / 71%);
  text-indent: -9999px;

}

.bm-customers-testimonial .slick-dots li.slick-active button {
  background: #fff;
  width: 14px!important;
  height: 14px!important;
}

@media only screen and (max-width: 768px) {

  h2.bm-customers-testimonial-title {
    padding: 20px;
    font-size: 30px;
    line-height: 34px;
    color: #253c51;
  }
  .bm-customers-testimonial-slider-main {
    max-width: 100%;
    padding: 10px 10px 25px 10px;
  }
  p.bm-customers-testimonial-slider-main-right-text {
    padding: 10px;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
    color: #253c51;
  }
  .bm-customers-testimonial-slider-dot {
    margin-bottom: 0;
  }
  .bm-customers-testimonial-slider-dot-right {
    width: 100%;
  }
  .bm-customers-testimonial button.slick-next.slick-arrow {
    right: 0;
  }
  .bm-customers-testimonial-slider-dot-right-img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
  .bm-customers-testimonial-main .slick-slide.slick-active.slick-current .bm-customers-testimonial-slider-dot-right-img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .bm-customers-testimonial-slider-dot-right .slick-list.draggable {
    margin-left: 40px;
    margin-right: 40px;
  }
  .bm-customers-testimonial button.slick-prev.slick-arrow {
    left: 0;
    width: 40px;
    height: 40px;
  }
  .bm-customers-testimonial button.slick-next.slick-arrow{
    width: 40px;
    height: 40px;
  }
  .bm-customers-testimonial .slick-prev:before {
    width: 13px;
    top: 10px;
    left: 13px;
  }
  .bm-customers-testimonial .slick-next:before {
    width: 13px;
    top: 10px;
    right: 12px;
  }
  .bm-customers-testimonial .slick-dotted.slick-slider {
    padding-bottom: 16px;
  }
  .bm-customers-testimonial-slider-main:before {
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 40px;
  }
  .bm-customers-testimonial-slider-main:after {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 40px;
  }

}


/*styling end for bm-customers-testimonial section */


/*styling start for bm-as-seen-on section */
.bm-as-seen-on {
  overflow: hidden;
}
.bm-as-seen-on-curved {
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
  margin-bottom: 50px;
  padding-top: 35px;
}
.bm-as-seen-on-curved:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #8bd5cc;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scalex(1.5);
}
.bm-as-seen-on-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.bm-as-seen-on-block {
  margin-right: 20px;
}
.bm-as-seen-on-block-image {
  max-width: 120px;
  height: auto;
}
.bm-as-seen-on-block-image img {
  width: 100%;
  height: 100%;
}
h2.bm-as-seen-on-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  color: #00567b;
}
@media only screen and (max-width: 768px) {
  .bm-as-seen-on-curved {
    z-index: 1;
    margin-bottom: 0;
    padding: 0;
  }
  .bm-as-seen-on-curved:before {
    border-radius: 0;
  }
  h2.bm-as-seen-on-title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
  }
  .bm-as-seen-on-main {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .bm-as-seen-on-block {
    margin-top: 20px;
    width: 50%;
    margin-right: 0;
  }
  .bm-as-seen-on-block:last-child {
    width: 50%;
    margin-bottom: 20px;
  }
  .bm-as-seen-on-block-image {
    margin: 0 auto;
  }
  html body .bm-as-seen-on-block-image img {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }
}
/*styling end for bm-as-seen-on section */


/*styling start for bm-doctors-testimonial section */
.bm-doctors-testimonial {
  margin: 70px 0 75px;
  overflow: hidden;
}
.bm-doctors-testimonial-slider-main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #7ab6b1;
  border-radius: 20px;
  position: relative;
}
.bm-doctors-testimonial-slider-main {
  max-width: 835px;
  margin: 0 auto;
}
.bm-doctors-testimonial-slider-main-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 55px;
}
.bm-doctors-testimonial-slider-contentarea {
  width: 75%;
}
.bm-doctors-testimonial-slider-main-img {
  width: 25%;
}
.bm-doctors-testimonial-slider-img {
  margin-right: -80px;
}
p.bm-doctors-testimonial-slider-main-text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  color: #253c51;
  padding: 40px 0 40px;
  border-bottom: 2px solid #e1e1e1;
  margin: 0 40px 25px 98px;
}

h2.bm-doctors-testimonial-slider-main-name {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #253c51;
  margin-left: 98px;
  margin-bottom: 40px;
}
h2.bm-doctors-testimonial-slider-main-name span {
  font-weight: 700;
}
.bm-doctors-testimonial-slider-main-img img {
  width: 100%;
  height: 100%;
}

.bm-doctors-testimonial-slider-button{
  text-align: center;
  margin-top: 90px;
  margin-bottom: 30px;
}
.bm-doctors-testimonial-slider-button a {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  background: #d4212c;
  border-radius: 8px;
}

h2.bm-doctors-testimonial-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #253c51;
  margin-bottom: 65px;
}
h2.bm-doctors-testimonial-title span {
  font-weight: 700;
}




/* slick */
.bm-doctors-testimonial button.slick-prev.slick-arrow {
  display: block!important;
  background: linear-gradient(324.16deg,rgba(0,0,0,.152) 3.09%,rgba(255,255,255,0) 85.92%),#8bd5cc;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  left: 11%;
}
.bm-doctors-testimonial button.slick-next.slick-arrow{
  display: block !important;
  background: linear-gradient(324.16deg, rgba(0, 0, 0, 0.152) 3.09%, rgba(255, 255, 255, 0) 85.92%), #8BCFCA;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  right: 8%;
}

.bm-doctors-testimonial .slick-next:before {
  background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Vector_8_2.png?v=1646719008) no-repeat;
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  background-size: 100%;
  top: 10px;
  right: 13px;
  transform: none;
  opacity: 1;
}
.bm-doctors-testimonial .slick-prev:before {
  background: url(https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Vector_8_3.png?v=1646719008) no-repeat;
  content: "";
  width: 12px;
  height: 100%;
  position: absolute;
  background-size: 100%;
  top: 10px;
  left: 12px;
  transform: none;
  opacity: 1;
}

.bm-doctors-testimonial .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 16px 0;
  list-style-type: none;
  bottom: 100px;
  left: 20%;
  align-items: center;
}
.bm-doctors-testimonial .slick-dots li {
  margin: 0 7px;
}
.bm-doctors-testimonial .slick-dots button {
  display: block;
  width: 11px !important;
  height: 11px !important;
  padding: 0;
  border: none;
  border-radius: 100%;
  background: rgba(196, 196, 196, 0.5);
  text-indent: -9999px;

}

.bm-doctors-testimonial .slick-dots li.slick-active button {
  background: #C4C4C4;
  width: 14px!important;
  height: 14px!important;
}
.bm-doctors-testimonial-slider-main-name-moba {
  display: none;
}
@media only screen and (max-width: 1300px) {
  .bm-doctors-testimonial button.slick-next.slick-arrow {
    right: 0%;
  }
  .bm-doctors-testimonial button.slick-prev.slick-arrow {
    left: 0%;
  }
  .bm-doctors-testimonial-slider-main {
    max-width: 765px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1024px) {
  .bm-doctors-testimonial-slider-main {
    max-width: 78%;
    margin: 0 auto;
  }
  p.bm-doctors-testimonial-slider-main-text {
    margin: 0 40px 25px 60px;
  }
  h2.bm-doctors-testimonial-slider-main-name {
    margin-left: 60px;
  }
  .bm-doctors-testimonial-slider-main-icon {
    position: absolute;
    top: 25px;
    left: 5px;
    width: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .bm-doctors-testimonial-slider-main {
    max-width: 100%;
    margin: 0 auto;
  }
  .bm-doctors-testimonial-slider-button a {
    font-size: 22px;
    padding: 7.5px 25px;
  }
  .bm-doctors-testimonial {
    margin: 50px 0 20px;
  }

  h2.bm-doctors-testimonial-title {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #253c51;
    margin-bottom: 30px;
  }
  h2.bm-doctors-testimonial-title br {
    display: none;
  }
  .bm-doctors-testimonial-slider-main-content {
    flex-direction: column;
  }
  p.bm-doctors-testimonial-slider-main-text {
    font-size: 18px;
    line-height: 24px;
    color: #253c51;
    margin: 0 0 20px 10px;
  }
  h2.bm-doctors-testimonial-slider-main-name {
    font-size: 18px;
    margin-left: 0;
    padding: 0 10px;
  }
  .bm-doctors-testimonial-slider-img {
    max-width: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .bm-doctors-testimonial-slider-main-icon {
    width: 30px;
    left: 5px;
  }
  .bm-doctors-testimonial-slider-contentarea {
    width: 80%;
  }
  .bm-doctors-testimonial-slider-button {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .bm-doctors-testimonial button.slick-prev.slick-arrow {
    width: 40px;
    height: 40px;
    left: -20px;
    z-index: 1;
  } 
  .bm-doctors-testimonial button.slick-next.slick-arrow {
    width: 40px;
    height: 40px;
    right: -20px;
    z-index: 1;
  } 
  .bm-doctors-testimonial .slick-prev:before {
    width: 12px;
    top: 9px;
    left: 12px;
  }
  .bm-doctors-testimonial .slick-next:before {
    width: 12px;
    top: 10px;
    left: 15px;
  }
  .bm-doctors-testimonial .slick-prev, .slick-next {
    top: 34% !important;
  }
  .bm-doctors-testimonial .slick-dots {
    left: 20%;
  }
  .bm-doctors-testimonial-slider-main-img {
    width: 100%;
  }
  .bm-doctors-testimonial-slider-main-name-desktop {
    display: none;
  }
  .bm-doctors-testimonial-slider-main-name-moba {
    display: block;
    text-align: center;
  }

}

/*styling end for bm-doctors-testimonial section */

/*styling start for bm-what-is-difference section */

.bm-what-is-difference {
  background: #ebecec;
  padding-bottom: 200px;
}
.bm-what-is-difference-top-img {
  max-width: 835px;
  margin: 0 auto;
}
.bm-what-is-difference-top-img img {
  width: 100%;
}
.bm-what-is-difference-top {
  position: relative;
}
.bm-what-is-difference-top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 680px;
  margin: 0 auto;
  background: #d4212c;
  border-radius: 100px;
  padding: 20px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}
.bm-what-is-difference-top-content-block {
  width: 33.33%;
  margin-right: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bm-what-is-difference-top-content-block:last-child {
  margin-right: 0;
}
.bm-what-is-difference-bottom {
  text-align: center;

  margin: 0 auto;
  margin-top: 110px;
}
.bm-what-is-difference-bottom p {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  color: #253c51;
  max-width: 668px;
  margin: 0 auto;
}
.bm-what-is-difference-bottom h2 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #253c51;
}
h2.bm-what-is-difference-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #253c51;
  padding-top: 80px;
  padding-bottom: 50px;
  margin: 0;
}
.bm-what-is-difference-top-content-block-text{
  width: 60%;
}
.bm-what-is-difference-top-content-block h2 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 0;

}
.bm-what-is-difference-bottom-block:last-child {
  margin-right: 0;
}
.bm-what-is-difference-top-content-block-img {
  width: 40%;
}
.bm-what-is-difference-top-content-block-img div {
  max-width: 60px;
  height: auto;
  margin: 0 auto;
}
.bm-what-is-difference-top-content-block div img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .bm-what-is-difference-top-content-block h2 {
    font-size: 12px;
    margin-left: 8px;
    color: #fff;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .bm-health-block-item {
    font-size: 25px;
    line-height: 30px;
  }
  .bm-health-block {
    min-height: 160px;
  }
}
@media only screen and (max-width: 768px) {
  .bm-what-is-difference {
    background: #ebecec;
    padding-bottom: 30px;
  }
  h2.bm-what-is-difference-title {
    padding-top: 40px;
    padding-bottom: 24px;
    font-size: 30px;
    line-height: 34px;
  }
  .bm-what-is-difference-bottom p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .bm-what-is-difference-top-img {
    max-width: 95%;
    margin: 0 auto;
  }
  .bm-what-is-difference-top-content {
    flex-direction: column;
    padding: 15px;
    max-width: 80%;
    bottom: -170px;
    border-radius: 20px;
  }
  .bm-what-is-difference-top-content-block {
    width: 100%;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
  }
  .bm-what-is-difference-top-content-block:last-child {
    margin-bottom: 0;
  }
  .bm-what-is-difference-top-content-block-img {
    width: 20%;
  }
  .bm-what-is-difference-top-content-block-text{
    width: 80%;
  }
  .bm-what-is-difference-top-content-block h2 {
    font-size: 16px;
  }
  .bm-what-is-difference-bottom {
    text-align: center;
    max-width: 650px;
    margin: 200px auto 0;
  }
  .bm-what-is-difference-bottom h2 {
    font-size: 30px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 400px) {
  .bm-what-is-difference-top-content-block {
    padding: 0;
  }
  .bm-what-is-difference-bottom p {
    padding: 0;
  }
}

/*styling end for bm-what-is-difference section */

/*styling start for bm-UTI-guide section */
.bm-UTI-guide {
  margin-top: 70px;
}
.bm-UTI-guide-main {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
}

.bm-UTI-guide-main-block {
  width: 33.33%;
  margin-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bm-UTI-guide-main-block:last-child {
  margin-right: 0;
}
.bm-UTI-guide-main-block-image{
  width: 150px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.bm-UTI-guide-main-block-image img {
  width: 100%;
  height:auto;
}
h2.bm-UTI-guide-main-block-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 45px;
  text-align: center;
  color: #253c51;
  margin-bottom: 10px;
}
p.bm-UTI-guide-main-block-description {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #253c51;
  padding: 0;
  max-width: 226px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.bm-UTI-guide-main-block-button a {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  padding: 10px 30px;
  text-align: center;
  color: #fff;
  background: #d4212c;
  border-radius: 8px;

}

@media only screen and (max-width: 768px) {
  .bm-UTI-guide-main-block-button a {
    font-size: 22px;
    padding: 7.5px 25px;
  }
  .bm-UTI-guide {
    margin: 50px 0;
  }
  h2.bm-UTI-guide-main-block-title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 16px;
  }

  .bm-UTI-guide-main {
    display: block;
  }
  .bm-UTI-guide-main-block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
    padding-top: 20px;
  }

  p.bm-UTI-guide-main-block-description {
    font-size: 18px;
    line-height: 24px;
    color: #253c51;
    margin-bottom: 40px;
    padding: 0;
    max-width: 100%;
  }

}
/*styling end for bm-UTI-guide section */

/*styling start for bm-utiva-community section */
.bm-utiva-community {
  margin: 80px 0;
}
.bm-utiva-community-main {
  padding: 80px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  margin: 0 auto;
}
.bm-utiva-community-block-left {
  width: 50%;
  margin-right: 55px;
}

.bm-utiva-community-block-right {
  width: 50%;
  position: relative;
}
.bm-utiva-community-image-top {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  position: absolute;
  top: -48px;
  left: calc(50% - 42px);
}

h2.bm-utiva-community-block-title {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #253c51;
}
p.bm-utiva-community-block-description { 
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 33px;
  color: #253c51;
  margin-bottom: 50px;
}

.bm-utiva-community-block-button a {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  background: #D71F37;
  border-radius: 8px;
  color: #f7fffa;
  padding: 10px 30px;
}


@media only screen and (max-width: 768px) {
  .bm-utiva-community-block-button a {
    font-size: 22px;
    padding: 7.5px 25px;
  }
  .bm-utiva-community {
    margin: 100px 0;
  }

  .bm-utiva-community-main {
    padding: 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .bm-utiva-community-block-right {
    width: 100%;
  }
  .bm-utiva-community-image-top {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: calc(50% - 42px);
  }
  h2.bm-utiva-community-block-title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 16px;
    color: #253c51;
  }
  p.bm-utiva-community-block-description {
    font-size: 18px;
    line-height: 24px;
    color: #253c51;
    margin-bottom: 40px;
    padding: 0;
  }
  .bm-utiva-community-block-button {
    margin-bottom: 24px;
  }
  .bm-utiva-community-block-left {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }

}
/*styling end for bm-utiva-community section */


/* Website Speed Custom CSS Fix */
.bm-popular-solutions-product-left-icon-img img,
.bm-customers-testimonial-slider-dot-right-img img {
  height: auto;
}

