.Pdp-faq-main {
    padding: 0px 40px;
    max-width: 985px;
    margin: 0 auto;
}
.bm-faq-form .bm-faq-form-main {
    padding-top: 60px;
}
.bm-faq-form-main h2.bm-faq-form-heading {
    padding-bottom: 30px;
}
main#MainContent {
    padding-bottom: 60px;
}
