/*styling strat for bm-rewards-banner */
.bm-rewards-banner-main {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
.bm-rewards-banner-content h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    color: #253C51;
    margin-bottom: 5px;
    position: relative;
    padding-top: 15px;
}
.bm-rewards-banner-content h2:before {
    position: absolute;
    content: " ";
    border: 3px solid #8AD4CB;
    width: 70px;
    background-color: #8adacb;
    top: 0;
}
.bm-rewards-banner-content {
    padding: 101px 0 80px 0;
}
.bm-rewards-banner-text {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}
.bm-rewards-banner-text-img {
    margin-right: 15px;
    width: 35px;
    height: 35px;
}
.bm-rewards-banner-text-img img {
    width: 100%;
    height: 100%;
}
.bm-rewards-banner-text h3 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 68px;
    color: #253C51;
    margin: 0;
}
a.bm-reward-banner-btn {
    display: inline-block;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    background: #d4212c;
    border-radius: 8px!important;
    margin-top: 32px;
}
.bm-rewards-banner-moba-Image {
    display: none;
}
@media only screen and (max-width:768px){
  .bm-rewards-banner-moba-Image {
    display: block;
}
  .bm-rewards-banner {
    background-image: none !important; 
}
  .bm-rewards-banner-moba-Image {
    width: 100%;
    height: 100%;
}
  .bm-rewards-banner-moba-Image img {
    width: 100%;
    height: 100%;
    display: block;
}
  .bm-rewards-banner-content {
    padding: 24px 0 30px;
}
.bm-rewards-banner-bottom {
    padding: 20px 30px 0;
    text-align: center;
}
  .bm-rewards-banner-content h2 {
    font-size: 40px;
    line-height: 50px;
}
   .bm-rewards-banner-content h2 br{
     display:none;
}
  .bm-rewards-banner-text {
    margin-top: 15px;
    justify-content: center;
}
  a.bm-reward-banner-btn {
    margin-top: 20px;
    
}
  .bm-rewards-banner-text h3 {
    font-size: 17px;
    line-height: 26px;
    text-align: left;
}
  .bm-rewards-banner-main {
    padding: 0;
}
  .bm-rewards-banner-content h2:before {
    left: calc(50% - 35px);
}
}
@media only screen and (max-width:420px){
  a.bm-reward-banner-btn {
    font-size: 17px;
}
  .bm-rewards-banner-content h2 br {
    display: none;
}
  .bm-rewards-banner-content h2 {
    font-size: 30px;
    line-height: 40px;
}
}
/*styling end for bm-rewards-banner */



/*styling strat for bm-rewards-how-it-work */
.bm-rewards-how-it-work {
    max-width: 1300px;
    margin: 0 auto;
    padding: 124px 50px;
}
h2.bm-rewards-how-it-work-title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #253C51;
    margin-bottom: 58px;
}
.bm-rewards-how-it-work-content {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 124px;
}
.bm-rewards-how-it-work-item {
    width: 33.33%;
    margin-right: 65px;
    border: 3px solid #80C6C0;
    border-radius: 24px;
    padding: 25px;
}
.bm-rewards-how-it-work-item:last-child {
    margin-right: 0;
}
.bm-rewards-how-it-work-item h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #253C51;
    margin: 0;
}
.bm-rewards-how-it-work-item h3 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #253C51;
    margin-bottom: 27px;
}
p.bm-rewards-how-it-work-description {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #253C51;
    padding: 0 25px;
}
@media only screen and (min-width:769px) and (max-width:1024px){
  p.bm-rewards-how-it-work-description br {
    display: none;
}
}
@media only screen and (max-width:768px){
  .bm-rewards-how-it-work {
    padding: 50px 30px;
}
  h2.bm-rewards-how-it-work-title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 35px;
}
  .bm-rewards-how-it-work-content {
    margin-bottom: 50px;
    flex-direction: column;
}
  .bm-rewards-how-it-work-item {
    width: 100%;
    margin-right: 0;
    padding: 20px;
    margin-bottom: 30px;
}
  .bm-rewards-how-it-work-item h3 {
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 20px;
}
  p.bm-rewards-how-it-work-description br {
    display: none;
}

p.bm-rewards-how-it-work-description {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #253c51;
    padding: 0;
}
}
/*styling end for bm-rewards-how-it-work */
/*styling start for bm-rewards-earn-point */
.bm-rewards-earn-point {
    max-width: 1111px;
    margin: 0 auto;
    margin-bottom: 124px;
}
.bm-rewards-earn-point-main {
    text-align: center;
}
h2.bm-rewards-earn-point-title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #253C51;
    margin-bottom: 69px;
}
.bm-rewards-earn-point-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    text-align: center;
}
.bm-rewards-earn-point-item {
    width: calc(20% - 52px);
}
.bm-rewards-earn-point-img {
    width: 98px;
    height: 98px;
    margin: 0 auto;
}
.bm-rewards-earn-point-img img {
    width: 100%;
    height: 100%;
}
.bm-rewards-earn-point-item h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #253C51;
    margin-top: 30px;
    margin-bottom: 15px;
}
.bm-rewards-earn-point-item h3 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #DA212C;
    margin: 0;
}
a.bm-rewards-earn-btn {
    display: inline-block;
    margin: 20px auto 0;
    max-width: 277px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    background: #d4212c;
    border-radius: 8px!important;
}
.stamped-rewards-widget-campaign-title {
    line-height: 28px !important;
}
.stamped-rewards-birthday-input-holder {
  padding-right: 0;
}
.stamped-rewards-birthday-input-holder input {
  max-width: 126PX !important;
  font-size: 16px !important;
  margin-bottom: 10px;
}

@media only screen and (min-width: 770px) and (max-width:1199px){
.stamped-rewards-widget-item-content {
    border: none !important;
}
}
@media only screen and (min-width: 1200px){
[data-widget-type="rewards-earnings-v2"] .stamped-rewards-widget-item {
  flex: 0 0 20% !important;
}

}

@media only screen and (min-width:769px) and (max-width:1200px){
 .bm-rewards-earn-point {
    padding: 0 50px;
}
  
}
@media only screen and (min-width:769px) and (max-width:1024px){
.bm-rewards-earn-point-item h2 {
    font-size: 22px;
    line-height: 26px;
}
  .bm-rewards-earn-point-item h3 {
    font-size: 16px;
}
   .bm-rewards-earn-point-img {
    width: 100%;
    height: auto;
}
}
@media only screen and (max-width:768px){
  h2.bm-rewards-earn-point-title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 46px;
}
  .bm-rewards-earn-point-content {
    gap: 30px;
}
  .bm-rewards-earn-point-item {
    width: calc(50% - 52px);
}
  .bm-rewards-earn-point-img {
    width: 90px;
    height: 90px;
}
  .bm-rewards-earn-point-item h2 {
    font-size: 22px;
    line-height: 28px;
    margin-top: 20px;
}
  a.bm-rewards-earn-btn {
    margin: 40px auto 0;
}
  .bm-rewards-earn-point {
    margin: 0 auto 50px;
}
  [data-widget-type="rewards-earnings-v2"] .stamped-rewards-widget-item-content:before {
    padding-top: 0 !important;
}
}
/*styling end for bm-rewards-earn-point */

/*styling strat for bm-rewards-redeem */
.bm-reward-redeem {
    background: #FAFAFA;
    padding: 69px 0;
}
.bm-reward-container {
    max-width: 900px;
    margin: 0 auto;
}
.bm-reward-redeem-top {
    margin-bottom: 67px;
}
.bm-reward-redeem-top h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #253C51;
    margin-bottom: 5px;
}
.bm-reward-redeem-top p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    color: #253C51;
    margin: 0;
}
.bm-reward-redeem-middle {
    display: flex;
    justify-content: center;
}
.bm-reward-redeem-left {
    padding-right: 50px;
    border-right: 2px solid #D4D5D5;
    margin-right: 50px;
}
.bm-reward-redeem-left {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #DA212C;
    margin-bottom: 25px;
}
.bm-reward-redeem-left:last-child {
    margin-bottom: 0;
}
.bm-reward-redeem-right {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #253C51;
    margin-bottom: 31px;
    padding-left: 50px;
}
.bm-reward-redeem-right:last-child {
    margin-bottom: 0;
}
a.bm-reward-redeem-btn {
    display: inline-block;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    background: #d4212c;
    border-radius: 8px!important;
    margin-top: 66px;
}
.bm-reward-redeem-bottom {
    text-align: center;
}
table.bm-reward-redeem-content-table {
    border-spacing: 0;
    background: none !important;
}
table.bm-reward-redeem-content-table th {
    background: none;
}

.stamped-rewards-widget-text-holder {
    display: none !important;
}
div#stamped-rewards-widget {
    background: #fafafa;
    margin-top: 30px;
    border-bottom: none;
}
.stamped-rewards-widget-btn-rewards-history {
    display: none!important;
}
a.stamped-rewards-widget-btn {
    background: #cb1212;
}
@media only screen and (max-width:768px){
  .bm-reward-redeem-right {
    padding-left: 25px;
  }
    .bm-reward-redeem-main {
      padding: 0 30px;
  }
    .bm-reward-redeem {
      padding: 45px 0;
  }
    .bm-reward-redeem-top h2 {
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 15px;
  }
    .bm-reward-redeem-top p br {
      display: none;
  }
    .bm-reward-redeem-left h2 {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 20px;
  }
    .bm-reward-redeem-left {
      padding-right: 25px;
      margin-right: 24px;
  }
    .bm-reward-redeem-right h2 {
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 20px;
  }
    .bm-reward-redeem-top {
      margin-bottom: 35px;
  }
    a.bm-reward-redeem-btn {
      margin-top: 40px;
  }
}
@media only screen and (max-width:550px){
  .bm-reward-redeem-right {
      padding-left: 25px;
      font-size: 18px;
      line-height: 20px;
      padding-right: 0;
  }
  th.bm-reward-redeem-left {
    font-size: 22px;
    line-height: 22px;
    padding-left: 0;
  }  
}
@media only screen and (max-width:420px){
  .bm-reward-redeem-left {
    padding-right: 15px;
    margin-right: 15px;
  }
  .bm-reward-redeem-right {
    font-size: 16px;
    line-height: 18px;
    padding-left: 15px;
  }
  th.bm-reward-redeem-left {
    font-size: 18px;
    line-height: 18px;
  }
}
/*styling end for bm-rewards-redeem */

/*styling end for bm-rewards-learn-more */
.bm-rewards-learn-more-main {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
}
.bm-rewards-learn-more-content {
    width: 50%;
    margin-left: 50px;
    margin-right: 47px;
}
.bm-rewards-learn-more-img {
    width: 50%;
}
.bm-rewards-learn-more-img img {
    display: block;
}
.bm-rewards-learn-more-content p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    color: #253C51;
    margin-bottom: 0;
      
}
.bm-rewards-learn-more-item {
    max-width: 577px;
    margin-left: 101px;
}
a.bm-rewards-learn-more-btn {
    display: inline-block;
    margin-top: 50px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    background: #d4212c;
    border-radius: 8px!important;
    margin-bottom: 30px;
    
}
@media only screen and (min-width:1025px) and (max-width:1200px){

.bm-rewards-learn-more-content p {
    font-size: 40px;
    line-height: 45px;
}
  
}
@media only screen and (min-width:769px) and (max-width:1024px){
  a.bm-rewards-learn-more-btn {
    margin-top: 30px;
}
  .bm-rewards-learn-more-content p {
    font-size: 30px;
    line-height: 43px;
}
  .bm-rewards-learn-more-item {
    margin-left: 0;
}
}
@media only screen and (max-width:768px){
.bm-rewards-learn-more-main {
    flex-direction: column-reverse;
}
  .bm-rewards-learn-more-content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0 30px;
}
  .bm-rewards-learn-more-img {
    width: 100%;
}
  .bm-rewards-learn-more-content p {
    font-size: 30px;
    line-height: 34px;
    margin-top: 30px;
    margin-bottom: 0;
}
  a.bm-rewards-learn-more-btn {
    margin-bottom: 60px;
    margin-top: 30px;
}
  .bm-rewards-learn-more-item {
    margin-left: 0;
}

  
}
/*styling end for bm-rewards-learn-more */