.text-container{
    display:flex;
    gap:30px;
    justify-content:space-between;
    align-items:center;
    padding:40px 24px
}
.definition__desktop--container{
    display:none;
    position:relative;
    min-width:450px;
    height:100%
}
.definition__desktop--container .definition__desktop{
    top:0;
    transform:translateY(-50%);
    right:0;
    position:absolute;
    width:450px;
    height:-moz-fit-content;
    height:fit-content;
    padding:16px 24px 16px 36px;
    font-family:var(--font-family-body);
    font-size:var(--font-size-l);
    font-weight:400;
    line-height:28px;
    color:var(--color-white-80);
    background-color:var(--primary-color-red);
    border-radius:16px;
    opacity:0;
    transition:opacity .5s ease
}
.definition__desktop--container .definition__desktop.desktop__show{
    opacity:1;
    height:-moz-fit-content;
    height:fit-content
}

.definition__desktop--container .definition__desktop ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.definition__desktop--container .definition__desktop a{
    text-decoration:underline
}

span.definition ul{
    padding-left: 1rem;
}
span.definition ul li{
    margin-top: 4px;
    margin-bottom: 4px;
}
.definition__desktop--container .definition__desktop li, span.definition ul li{
    list-style-type: disc;
}
.text-content p{
    max-width:718px;
    margin:0;
    font-family:var(--font-family-body),sans-serif;
    font-size:var(--font-size-xl);
    font-weight:400;
    line-height:33.6px;
    color:var(--color-black);
    letter-spacing:-.01em
}
.text-content p a{
    text-decoration:underline
}
.interactive-btn{
    position:relative;
    display:inline-block;
    align-items:center;
    width:-moz-fit-content;
    width:fit-content;
    margin:0;
    color:var(--primary-color-red);
    text-decoration:underline;
    cursor:pointer
}
.interactive-btn__line1{
    position:relative;
    display:inline-block;
    width:28px;
    max-width:28px;
    height:28px;
    margin:0 7px;
    padding:0;
    border:1.2px solid var(--primary-color-red);
    border-radius:100%;
    translate:0 -7px
}
.interactive-btn__line1:after{
    position:absolute;
    top:50%;
    left:50%;
    width:10px;
    height:1px;
    content:"";
    background-color:var(--primary-color-red);
    border-radius:5px;
    translate:-50% -50%
}
.interactive-btn__line2:before{
    position:absolute;
    top:50%;
    left:50%;
    width:10px;
    height:1px;
    content:"";
    background-color:var(--primary-color-red);
    border-radius:5px;
    rotate:90deg;
    translate:-50% -50%
}
.definition{
    display:block;
    height:0;
    padding:0 20px;
    margin:0;
    overflow:hidden;
    font-family:var(--font-family-body);
    font-size:var(--font-size-s);
    font-weight:400;
    line-height:22.4px;
    color:var(--color-white-80);
    background-color:var(--primary-color-red);
    border-radius:16px;
    transition:height .5s ease-in,margin .5s ease
}
.show-definition{
    height:-moz-fit-content;
    height:fit-content;
    padding:16px 20px;
    margin:16px 0
}
@media (min-width: 1024px){
    .definition,.show-definition{
        display:none
    }
    .definition__desktop--container{
        display:block
    }
    .text-container{
        padding:40px 96px
    }
}
@media screen and (min-width: 1800px){
    .text-container{
        justify-content:center
    }
}
 