.main-banner {
  height: calc(595px - var(--announcement-bar-height));
  overflow: hidden;
}

.main-banner .body-s.mobile {
  padding: 3px 10px;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 8px;
  left: 8px;
  border-radius: 20px;
}

@media screen and (min-width: 1024px) {
  .main-banner .body-s.mobile {
    display: none;
  }
}

.main-banner .body-s.desktop {
  display: none;
  margin-bottom: 10px;
  padding: 4px 12px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  letter-spacing: -0.02em;
  font-size: var(--font-size-s);
}

@media screen and (min-width: 1024px) {
  .main-banner .body-s.desktop {
    display: block;
  }
}

@media screen and (min-width: 1100px) {
  .main-banner .body-s.desktop {
    margin-bottom: 37px;
  }
}

.main-banner__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .main-banner__container {
    flex-direction: row;
    flex-direction: row-reverse;
  }
}

.main-banner__container--bottom {
  position: relative;
  height: 50%;
}

@media screen and (min-width: 1024px) {
  .main-banner__container--bottom {
    height: 100%;
    width: 50%;
  }
}

.main-banner__container--image {
  position: relative;
  height: 60%;
}

.main-banner__container--image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom;
  object-position: bottom;
}

.main-banner__container--blur {
  height: 100vh;
  background: rgba(149, 129, 114, 0.5);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

@media screen and (min-width: 1024px) {
  .main-banner__container--blur {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background: rgba(149, 129, 114, 0.45);
  }
}

.main-banner__container--blur-image {
  position: relative;
}

.main-banner__container--blur-image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-banner__content {
  position: absolute;
  top: 50%;
  padding: 0 24px;
  max-width: 480px;
  transform: translateY(-50%);
}

@media screen and (min-width: 1024px) {
  .main-banner__content {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: 580px;
    padding-left: 96px;
    padding-right: 15px;
    width: 100%;
  }
}

.main-banner__content--title {
  color: var(--color-white);
  padding-bottom: 12px;
}

@media screen and (min-width: 1024px) {
  .main-banner__content--title {
    padding-bottom: 20px;
  }
}

.main-banner__content p {
  color: var(--color-white);
  font-weight: var(--font-weight-normal);
  padding-bottom: 24px;
}

@media screen and (min-width: 1024px) {
  .main-banner__content p {
    padding-bottom: 40px;
    font-family: var(--font-family-body);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: var(--font-weight-normal);
    line-height: 1.4;
  }
}

.main-banner__content .btn-new--primary {
  width: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .main-banner__content .btn-new--primary {
    width: -moz-fit-content;
    width: fit-content;
    gap: 56px;
  }
}

.main-banner__content .uti-tracker-banner-buttons {
  display: flex;
  gap: 12px;
}

.main-banner__content a.uti-banner-button {
  padding: 11px 16px;
  border-radius: 7px;
  background-color: #1c1c1c;
}

.main-banner__content a.uti-banner-button:hover {
  background: rgba(255, 255, 255, 0.5);
  mix-blend-mode: lighten;
}

.main-banner__content .uti-banner-button img {
  height: 36px;
  width: 152px;
}

@media (max-width: 1023px) {
  .main-banner__content .uti-banner-button img {
    height: 28px;
    width: 121px;
  }
}
