.uti-tracker-developer__container {
  padding: 80px 96px;
}

.uti-tracker-developer__contents {
  display: flex;
  height: 111px;
  gap: 43px;
  background: #daeeeb;
  border-radius: 10px;
}

.uti-tracker-developer__contents-text {
  padding: 30px 46px 30px 0;
  width: calc(100% - 204px);
}

img.uti-tracker-developer__contents-image {
  width: 161px;
  height: 161px;
  overflow: hidden;
  transform: translateY(-25px);
}

.contents-image__wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}

.uti-tracker-developer__contents-text p {
  color: #1c1c1c;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 1330px) {
  .uti-tracker-developer__contents {
    height: 136px;
  }
}

@media (max-width: 1060px) {
  .uti-tracker-developer__contents {
    height: 170px;
  }

  img.uti-tracker-developer__contents-image {
    height: 170px;
    width: 100%;
    transform: unset;
  }
}

@media (max-width: 1023px) {
  .uti-tracker-developer__container {
    padding: 24px;
  }

  .uti-tracker-developer__contents {
    flex-direction: column;
    height: auto;
    gap: 0;
  }

  .contents-image__wrapper {
    border-radius: 10px 10px 0 0;
    height: 100%;
    width: 100%;
  }

  img.uti-tracker-developer__contents-image {
    height: 100%;
  }

  .uti-tracker-developer__contents-text {
    padding: 30px 16px;
    width: 100%;
  }
}
