{% section 'wellness-image-text' %}
{% section 'wellness-steps' %}
{% section 'wellness-benefits' %}
{% section 'wellness-challenge' %}
{% section 'wellness-best-sellers' %}
<div class="quiz-wrapper">
  <p style="text-align:center">Not sure what you need? Take our quiz so we can personalize our offering for you.</p>
  <p style="text-align:center">
    <a class="btn" style="border-radius: 0" href="/pages/quiz">TAKE OUR QUIZ</a>
  </p>
</div>
