<style type="text/css">
    @media only screen and (min-width: 769px){
    .main-content {
        margin-top: 10rem;
      }
    }
}
</style>

<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/bk14tnAe6eVwz0ttedrhdA" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="477032"></div>