<div class="bm-pdp-faq">

  <!-- Cranberry PACs FAQ -->
  <div class="Cranberry_PACs Pdp-faq-main">
    <div>
      <div class="index-section index-section--faq">
        <div class="page-width text-left">
          <div class="grid">
            <div class="grid__item">
              <p class="h2">
                Utiva Cranberry PACs FAQ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Utiva_Cranberry_PACs-content Pdp-faq-main-content">
      <div class="Utiva_Cranberry_PACs_left">
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596662883852" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Does Utiva Cranberry PACs work?
            </button>
            <div id="FAQ-content-1596662883852" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Utiva Cranberry PACs is a great option to maintain a healthy urinary tract as our product guarantees 36mg of Proanthocyanidins (PACs for short). PACs have a special ability: anti-adhesion as it interferes with the harmful bacteria to stop them from sticking to the bladder wall, minimizing risk of infection. When taking Utiva daily, around the same time this results in natural flushing of bacteria when urinating. It is important to take Utiva around the same time as it works on a 24 hour cycle.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596662911427" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              What is the recommended dosage of Utiva Cranberry PACs?
            </button>
            <div id="FAQ-content-1596662911427" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Utiva Cranberry PACs is recommended to be taken as per the following:<br> <br><strong>MAINTENANCE:</strong> 1 capsule daily at the same time every day <br><br>TRIGGER-ASSOCIATED or SYMPTOMATIC: 2 capsules the day of and 2 capsules 24 hours later. It is safe to take 2 capsules a day for a few days if needed. <br><br>Utiva Cranberry PACs can be taken with or without food.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596662982291" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              How long does it take for Utiva Cranberry PACs to work?
            </button>
            <div id="FAQ-content-1596662982291" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Utiva Cranberry PACs can provide benefits almost immediately in terms of how you feel. For a healthy urinary tract, it is best advised to take Utiva Cranberry PACs daily. Antibiotics are always required to clear the infection and you must consult your doctor if you are experiencing a UTI</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-3dd231fb-b8d4-48c0-ac8a-f93d32438a97" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Is Utiva Cranberry PACs safe for people who have a history of kidney stones?
            </button>
            <div id="FAQ-content-3dd231fb-b8d4-48c0-ac8a-f93d32438a97" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Most cranberry products are known to have high levels of Oxalates which can aggravate kidney stones as the majority of kidney stones are&nbsp;formed when oxalate binds to calcium while urine&nbsp;is produced by the kidneys. Utiva Cranberry PACs is unique because it only has trace amounts of Oxalates due to our unique extraction process.&nbsp; We also do third party testing of our formulation to verify oxalate levels. Therefore, Utiva is safer for people with history of kidney stones. However, we do recommend checking with your doctor before starting any new supplement.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596123208707" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Is Utiva Cranberry PACs a treatment for UTIs?
            </button>
            <div id="FAQ-content-1596123208707" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>No. Treatment of UTIs is still recommended to be antibiotics due to the evidence available. Natural products are recommended for maintaining a healthy urinary tract.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596123242022" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Are there any side effects or drug interactions with Utiva Cranberry PACs?
            </button>
            <div id="FAQ-content-1596123242022" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>There are no known side effects with Utiva Cranberry PACs unless you are allergic to cranberries. Typically cranberry products are known to have high levels of Vitamin K and Oxalates. These can interfere with blood thinners and aggravate kidney stones. Utiva Cranberry PACs has removed the Vitamin K and only has trace amounts of Oxalates.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596123311508" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Do I need to stop taking Utiva Cranberry PACs while on antibiotics?
            </button>
            <div id="FAQ-content-1596123311508" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Utiva Cranberry PACs is safe to take while on antibiotics and can also help ensure PACs are in your system to naturally flush out bacteria in the bladder.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596663063388" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Is Utiva Cranberry PACs safe while pregnant?
            </button>
            <div id="FAQ-content-1596663063388" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Utiva Cranberry PACs is made of 100% natural cranberry and there is no studied risk for using cranberry products during pregnancy. Multiple clinical trials have been completed and if you’d like to know more, <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3924191/" title="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3924191/">check out this Norwegian study that observed the effects of cranberries on 100,000 pregnancies.</a></p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596664102509" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Is Utiva Cranberry PACs safe for long term use?
            </button>
            <div id="FAQ-content-1596664102509" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Yes! Utiva Cranberry PACs l is safe for long term prevention. Most patients finding benefit are taking Utiva Cranberry PACs daily ongoing.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596664213516" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Sex and UTIs or any triggers (eg swimming , travelling)
            </button>
            <div id="FAQ-content-1596664213516" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p><strong>TRIGGER-ASSOCIATED or SYMPTOMATIC</strong> <br>Dosage: 2 capsules the day of and 2 capsules 24 hours later. It is safe to take 2 capsules a day for a few days if needed.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Utiva_Cranberry_PACs_right">
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596664233521" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Is Utiva Cranberry PACs dairy free and soy free
            </button>
            <div id="FAQ-content-1596664233521" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Yes</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596664266518" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}

              What are the ingredients in Utiva Cranberry PACs?
            </button>
            <div id="FAQ-content-1596664266518" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Each capsule of Utiva Cranberry PACs contains 240mg of Urophenol™️ - Cranberry (Vaccinium macrocarpon) fruit extract providing 15% proanthocyanidins (PACs) = 36mg PAC per DMAC/A2 method, Inactive Ingredients hypromellose, magnesium stearate, and rice flour </p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596664350087" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Can Utiva Cranberry PACs aggravate IC (Interstitial cystitis)?
            </button>
            <div id="FAQ-content-1596664350087" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Cranberry can lower the pH and an acidic environment is know to aggravate IC. We do have many patients with IC though. Some take an alkaline agent as well to balance the pH and others just continue with it and so they can get the benefits of Utiva Cranberry PACs. We advise you to consult your doctor regarding this.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596664420236" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Why is Utiva Cranberry PACs so expensive?
            </button>
            <div id="FAQ-content-1596664420236" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Unlike most cranberry products, Utiva Cranberry PACs always discloses the amount of active molecules we have. In providing 36mg of PACs (measured by DMAC/A2) from cranberries, Utiva Cranberry PACs is a clinically proven option to help with a healthy urinary tract. This will help reduce the need for antibiotics, which can have negative side effects, including antibiotic resistance.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596664305792" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              What can I do if I can not swallow the capsule?
            </button>
            <div id="FAQ-content-1596664305792" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>You can open capsule and put the powder in apple sauce, yogurt, juice, cereal, smoothie or anything you like. This makes it easier for kids or the elderly. We do not recommend putting Utiva Cranberry PACs in anything hot.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596664319593" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              Where can I buy Utiva products?
            </button>
            <div id="FAQ-content-1596664319593" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p><a href="https://utivahealth.ca/">Utivahealth.com </a>and Amazon.com.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596664406308" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              How much PAC is in Utiva Cranberry PACs  vs. the competition?
            </button>
            <div id="FAQ-content-1596664406308" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Most cranberry supplements have less than 5mg PACs and unlike most cranberry products, we at Utiva will always disclose the amount of active molecules we have. In providing 36mg of PACs from cranberries, Utiva Cranberry PACs is a clinically proven option to help prevent UTIs. This will help reduce the need for antibiotics, which can have negative side effects, including antibiotic resistance. We encourage you to look for PAC content (measured by DMAC/A2 method) on competitor labels and share if you find it.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596664363789" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              I have more questions, how do I contact you?
            </button>
            <div id="FAQ-content-1596664363789" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>You can contact us via email, phone or direct messaging on Facebook or Instagram. You can always refer to our website for more resources, tips and for general information.(https://www.utivahealth.ca/). Our customer care numer is 1-888-622-3613. Our lines are open Monday to Friday from 9am to 6pm EST.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="page-width">
            <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-d8ec73cd-b846-47f4-a88a-6e4094bb1aec" aria-expanded="false">
              {% render 'collapsible-icons-alt', no_circle: true %}
              What are the benefits of auto-refill?
            </button>
            <div id="FAQ-content-d8ec73cd-b846-47f4-a88a-6e4094bb1aec" class="collapsible-content collapsible-content--all">
              <div class="collapsible-content__inner collapsible-content__inner--faq rte">
                <p>Auto-refill offer the convenience to receive supplements every 3 months and ensure you never run out. All our auto-refill customers always have first preference for new material, stock and any events we carry out. There are also additional savings with every auto-refill order.&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Probiotic FAQ -->
  <div class="Probiotic Pdp-faq-main">
    <div>
      <div class="index-section index-section--faq">
        <div class="page-width text-left">
          <div class="grid">
            <div class="grid__item">
              <p class="h2">
                Probiotic FAQ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881580" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Does the Probiotic work?
        </button>
        <div id="FAQ-content-1597330881580" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Yes! Utiva’s Probiotic is an excellent probiotic option providing necessary strains to improve gut and urinary tract health. At the total value of 30 Billion CFU, at time of manufacture, the optimal required amount of probiotics are being provided. Additionally, our DR Capsules are vegetable based and specially created to ensure delivery of sensitive probiotic strains past the gut for targeted delivery.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330913619" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How long do I have to wait to see the effects?
        </button>
        <div id="FAQ-content-1597330913619" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>It is usually recommended to take natural products for a minimum of 4 weeks to see beneficial results but some will experience health benefits much earlier. It is important to take your Probiotic diligently every day to ensure optimal efficacy. Probiotics are often a long term process to regain and maintain your optimal gut health so please be patient!</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330961419" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Does the Probiotic interact with other supplements and antibiotics?
        </button>
        <div id="FAQ-content-1597330961419" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>When taking antibiotics, it is recommended to take any probiotic 2-3 hours before/after taking your antibiotic. Aside from this, there are no known interactions with Probiotic and any other medication or supplements.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330976386" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Is it dairy-free and soy-free?
        </button>
        <div id="FAQ-content-1597330976386" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Yes! Utiva Probiotic is dairy-free and soy-free. It is a very clean formulation that is safe for all adult populations.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330999835" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Do I need to refrigerate Probiotic ?
        </button>
        <div id="FAQ-content-1597330999835" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>No. Utiva Probiotic is shelf stable at room temperature. Being individually packed in blister packs also ensures improved stability with less exposure to air. Should you wish to refrigerate it, there is no harm in doing so.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Bladder_Health FAQ -->
<div class="Bladder_Health Pdp-faq-main">
	<div>
		<div class="index-section index-section--faq">
			<div class="page-width text-left">
				<div class="grid">
					<div class="grid__item">
						<p class="h2">Bladder Health FAQ</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881999" aria-expanded="false"> 
			  {% render 'collapsible-icons-alt', no_circle: true %}	
              What are the ingredients in Utiva Bladder Health? 
			</button>
			<div id="FAQ-content-1597330881999" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>Each capsule has only one active ingredient, a pure 250mg proprietary full-spectrum cranberry extract (Flowens) of the seeds, skin, flesh, and juice. Non-medical ingredients include a small amount of hypromellose, magnesium stearate, and rice flour.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881122" aria-expanded="false"> 
			 {% render 'collapsible-icons-alt', no_circle: true %}	
              Does Utiva Bladder Health work? 
			</button>
			<div id="FAQ-content-1597330881122" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>Yes. Utiva Bladder Health is clinically proven to help reduce overactive bladder and lower urinary tract symptoms. Taking 2 capsules a day is promised to help with 57% reduction in urgency, 40% reduction in your bladder feeling full and 16% reduction in the frequency of bathroom visits.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881123" aria-expanded="false"> 
				<span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation"> <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewbox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg> <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" viewbox="0 0 20 20"><path fill="#444" d="M17.543 11.029H2.1A1.032 1.032 0 0 1 1.071 10c0-.566.463-1.029 1.029-1.029h15.443c.566 0 1.029.463 1.029 1.029 0 .566-.463 1.029-1.029 1.029z"></path></svg> </span> 
              How does Utiva Bladder Health work? 
			</button>
			<div id="FAQ-content-1597330881123" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>It is believed that our proprietary full-spectrum cranberry extract (Flowens) has an indirect immune, antioxidant, and anti-inflammatory response. This helps improve the microbiome, thereby reducing the onset of inflammation and having a positive impact on the relief of LUTS & OAB symptoms.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881124" aria-expanded="false"> 
			  {% render 'collapsible-icons-alt', no_circle: true %}	
              How is Utiva Bladder Health different than Utiva Cranberry PACs? 
			</button>
			<div id="FAQ-content-1597330881124" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>Utiva Bladder Health has a unique extract (Flowens) derived from different components of the cranberries with hardly any PACs. It is clinically supported for overactive bladder and Utiva Cranberry PACs with the 36 mg of PACs is clinically supported to help in the maintenance of recurring UTIs.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881125" aria-expanded="false"> 
			  {% render 'collapsible-icons-alt', no_circle: true %}	
              How does it compare to medications? 
			</button>
			<div id="FAQ-content-1597330881125" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>Utiva Bladder Health is all-natural and does not cause the side effects such as dry mouth, constipation and stomach upset that typical OAB medications do.  It is best to be tried as an alternative or adjunct to medications.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881126" aria-expanded="false"> 
			  {% render 'collapsible-icons-alt', no_circle: true %}
              How long do I need to take it for? 
			</button>
			<div id="FAQ-content-1597330881126" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>Utiva Bladder Health is recommended to be taken daily for a minimum of 4-6 weeks to start experiencing its benefits.  This supplement is meant to be taken every day and ongoing to keep your bladder healthy.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881127" aria-expanded="false"> 
				{% render 'collapsible-icons-alt', no_circle: true %}
              What is the recommended dosage for Utiva Bladder Health? 
			</button>
			<div id="FAQ-content-1597330881127" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>Take 2 capsules daily to help reduce overactive bladder (OAB). Take 1 capsule daily to help support normal urinary functions and improve lower urinary tract symptoms (LUTS). The capsules can be taken at the same time and can be taken with or without food.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881128" aria-expanded="false"> 
				{% render 'collapsible-icons-alt', no_circle: true %}
              Does it have any side effects? 
			</button>
			<div id="FAQ-content-1597330881128" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>There are no known side effects with Utiva Bladder Health unless you are allergic to cranberries. Typically cranberry products are known to have high levels of Vitamin K and Oxalates. These can interfere with blood thinners and aggravate kidney stones. It is always best to check with your Healthcare Practitioner if you have any specific concerns. </p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881129" aria-expanded="false"> 
				{% render 'collapsible-icons-alt', no_circle: true %}
              Is this only for women? 
			</button>
			<div id="FAQ-content-1597330881129" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>No. Utiva Bladder Health was created for both men and women.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881130" aria-expanded="false"> 
				{% render 'collapsible-icons-alt', no_circle: true %}
              Is Utiva Bladder Health safe for long term use? 
			</button>
			<div id="FAQ-content-1597330881130" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>Yes. Utiva Bladder Health is safe for long term use and most effective when used on a daily basis.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881131" aria-expanded="false"> 
				{% render 'collapsible-icons-alt', no_circle: true %} 
              What if Utiva Bladder Health does not work for me? 
			</button>
			<div id="FAQ-content-1597330881131" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>With our 30 day money back guarantee program, we encourage you to try Utiva to ensure you are fully satisfied with your purchase. If you feel, Utiva Bladder Health has not worked for you and you wish to request a refund, please contact us within 30 days of your purchase at hello@utivahealth.com or call us at 1-800-622-3613 and we will process your return.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881132" aria-expanded="false"> 
				{% render 'collapsible-icons-alt', no_circle: true %}
              Can I take Bladder Health as an alternative to Cranberry PACs? 
			</button>
			<div id="FAQ-content-1597330881132" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>Utiva Bladder Health is not to be used as an alternative to Cranberry PACs, as it is not a solution for UTI prevention. However, Utiva Bladder Health and Cranberry PACs can be taken together.</p>
			</div>
			</div>
		</div>
	</div>

	<div>
		<div class="page-width">
			<button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1597330881133" aria-expanded="false"> 
				{% render 'collapsible-icons-alt', no_circle: true %}
              Is Utiva Bladder Health safe for those with dietary restrictions? 
			</button>
			<div id="FAQ-content-1597330881133" class="collapsible-content collapsible-content--all">
			<div class="collapsible-content__inner collapsible-content__inner--faq rte">
			<p>Yes! Utiva Bladder Health is 100% natural, vegan, dairy-free, soy-free, gluten-free, halal and GMO-free.</p>
			</div>
			</div>
		</div>
	</div>

</div>
  
  

  <!-- D_Mannose FAQ -->
  <div class="D_Mannose Pdp-faq-main">
    <div>
      <div class="index-section index-section--faq">
        <div class="page-width text-left">
          <div class="grid">
            <div class="grid__item">
              <p class="h2">
                D-Mannose FAQ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-66b4c309-dc50-4e2a-a0f1-b99d5e18ac80" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How does D-Mannose work?
        </button>
        <div id="FAQ-content-66b4c309-dc50-4e2a-a0f1-b99d5e18ac80" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>D-Mannose is a form of sugar that may prevent UTIs by stopping bacteria from attaching to the bladder lining. It is believed that D-Mannose attaches itself to the E.coli strain, which accounts for over 70% of all UTI-causing bacteria. There have been clinical studies to show that D-Mannose is effective along with feedback from doctors and consumers that D-Mannose helps to prevent UTIs. Even though evidence is limited, and it is not in UTI prevention guidelines, it can certainly help those facing chronic and/or trigger associated UTIs.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-723cb345-c82d-4397-a9f0-59ede5eab463" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          What’s the difference between D-Mannose and Cranberry PACs?
        </button>
        <div id="FAQ-content-723cb345-c82d-4397-a9f0-59ede5eab463" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>D-Mannose is another high-quality supplement for UTI prevention from Utiva which focuses on the E.coli bacteria. We recommend it when someone has complicated recurrent UTIs or has trigger-associated UTIs (such as sex, swimming, travel, etc). It recommended to take at least 2,000mg daily of D-Mannose.</p><p>Utiva Cranberry PACs is a clinically proven cranberry extract that binds to most bacteria, including E.coli. PACs are the bioactive molecule of the cranberry and physician guidelines recommend it. Urinary Tract Health Control is a simple, small, once-a-day pill taken for daily support of the urinary tract to prevent ongoing UTIs. PACs are also the antioxidant of the cranberry and provide other gut health benefits.</p><p>For those patients who are chronic and are looking for a stronger approach to prevent UTIs, we recommend taking Urinary Tract Health Control and D-Mannose together.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-f0fefa15-d0e6-45f7-a7ff-b91fa6bd4525" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Can I take D-Mannose and Utiva Cranberry PACs  at the same time?
        </button>
        <div id="FAQ-content-f0fefa15-d0e6-45f7-a7ff-b91fa6bd4525" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>We recommend taking D-Mannose a few hours apart from Cranberry PACs. There is research that discusses how d-mannose and PACs could have their effectiveness reduced when taken together. We are investigating this further. With complicated or trigger associated UTI patients, doctors often recommend both products together with a probiotic.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-6ff53f39-c55f-4e70-a803-1e446c911ebe" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          What role does D-Mannose have with IC (interstitial cystitis)?
        </button>
        <div id="FAQ-content-6ff53f39-c55f-4e70-a803-1e446c911ebe" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>If you are having UTIs and feel there is a likelihood that the acidity of cranberry can irritate you, D-Mannose is a great option to consider. It will help fight specifically against Ecoli infections and has minimal impact on pH levels causing little to no irritation.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-8f82776a-8046-4297-aaca-08cfc0a8148d" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          What are the side effects of D-Mannose?
        </button>
        <div id="FAQ-content-8f82776a-8046-4297-aaca-08cfc0a8148d" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Side effects of D-Mannose may include bloating and loose stools. There is evidence that D-mannose may impact sugar levels, so people living with diabetes may want to consult a physician first. High doses of D-Mannose may also cause kidney damage.</p><p><br>Always tell your doctor about any supplements you are taking, including natural ones and those bought without a prescription. That way, your doctor can check on any potential side effects or interactions with any medications.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- UTI_Diagnostic_Test_Strips FAQ -->
  <div class="UTI_Diagnostic_Test_Strips Pdp-faq-main">
    <div>
      <div class="index-section index-section--faq">
        <div class="page-width text-left">
          <div class="grid">
            <div class="grid__item">
              <p class="h2">
                UTI Test Strips FAQ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-eb01df0f-df48-499a-832a-b7ecea4dda8d" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Can I use these UTI Test Strips instead of going to see my doctor?
        </button>
        <div id="FAQ-content-eb01df0f-df48-499a-832a-b7ecea4dda8d" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>The UTI test strips are convenient and easy to use for screening a UTI in the comfort of your home.&nbsp; It is advisable to use it only if you experience any of the UTI symptoms. If you show a positive result, you must immediately see your doctor. However, if you show a negative result but have symptoms, we still advise you to consult with your healthcare provider.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-8ca28fb9-22f0-4f1d-a1bf-cefbae10dae2" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How accurate is the test?
        </button>
        <div id="FAQ-content-8ca28fb9-22f0-4f1d-a1bf-cefbae10dae2" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>The Utiva UTI test strips are clinically accurate. These rapid tests are similar to what some clinics use to quickly screen for a UTI before doing a urine culture.&nbsp; The results of the UTI test strips have been compared to another commercial test. The study shows 94.4% accuracy for the Leukocyte test and 98.4% for the Nitrite test.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-3106602d-668b-4500-8558-b050a93c10a2" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How do I interpret the results?
        </button>
        <div id="FAQ-content-3106602d-668b-4500-8558-b050a93c10a2" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Once you have urinated on the Utiva UTI test strip mid-stream or dipped the test strip in a collection of urine. Start a timer for 2 minutes.&nbsp;&nbsp;</p><p>Start off by referencing the colour chart that is<strong> </strong>on the front of the test strip package. The top pad of the test strip tests for Leukocytes and the bottom pad tests for Nitrates.</p><p>You will want to read the result and look for a color change at one minute for Nitrate (bottom pad) and two minutes for Leukocytes (top pad).&nbsp;</p><p>Read the results by comparing and matching the test pad(s) to the colour blocks on the colour chart. The chart indicates which colour block combinations suggest a negative or positive result.&nbsp;</p><p>If you test positive, you should immediately consult a doctor. If you are unsure of your results, consult your physician and do not ignore your UTI symptoms. </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-5ceb57c3-f43d-4095-abe3-658e15fa0bb0" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Is there a time that is best to take the test?
        </button>
        <div id="FAQ-content-5ceb57c3-f43d-4095-abe3-658e15fa0bb0" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Yes, the best time to perform the test is with the first morning urine. However if that is not possible based on when the UTI symptoms present themselves, you can use this UTI test anytime during the day. The UTI test should be avoided during your menstrual period.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-fb17fa1b-5663-477c-af3d-9d42779250bd" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Do certain foods, alcohol or common medications affect the test?
        </button>
        <div id="FAQ-content-fb17fa1b-5663-477c-af3d-9d42779250bd" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>In general, most substances will not interfere with the test. Consult your physician if you are taking antibiotics. Some medications (e.g. Vitamin B2) can affect the colour of your urine and may cause false results. Large quantities of Vitamin C may cause false negative results.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-06ef0876-e552-4717-89e3-3bdb3bd72aab" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Are there limitations of the UTI Test?
        </button>
        <div id="FAQ-content-06ef0876-e552-4717-89e3-3bdb3bd72aab" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Yes.<strong> </strong>Under certain conditions, you may receive a negative test result even though you have a UTI. This can be due to a few reasons: your UTI is caused by bacteria that does not change nitrate to nitrite, when urine has not been held in the bladder for more than 4 hours, when taking antibiotics, or when your diet does not include nitrates.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-5f39a89c-9515-4502-88cc-94dd0c2a2643" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Can men use these UTI Test Strips?
        </button>
        <div id="FAQ-content-5f39a89c-9515-4502-88cc-94dd0c2a2643" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Absolutely! Utiva UTI Test Strips can be used by anyone. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- UTIVA_Cleansing_Wipes FAQ -->
  <div class="UTIVA_Cleansing_Wipes Pdp-faq-main">
    <div>
      <div class="index-section index-section--faq">
        <div class="page-width text-left">
          <div class="grid">
            <div class="grid__item">
              <p class="h2">
                Cleansing Wipes FAQ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1103b446-b8ab-4bbb-b1e3-bfbe06b2bcf2" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          When should I use the Cleansing Wipes?
        </button>
        <div id="FAQ-content-1103b446-b8ab-4bbb-b1e3-bfbe06b2bcf2" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>These wipes can be used when you need quick soothing, cooling, or hygiene cleansing. Each pack contains 15 wipes that are small enough to carry around and use when on-the-go. Be sure to wipe front-to-back whenever you want to freshen up whether that be after sex, exercise or long periods of travel. </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-a71a6ee4-1276-4694-b47f-b5d4326215df" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Will the Cleansing Wipes affect my natural pH-balance?
        </button>
        <div id="FAQ-content-a71a6ee4-1276-4694-b47f-b5d4326215df" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>No. The Utiva Cleansing wipes are pH balanced and will not disturb the natural vaginal environment as they are free of fragrance, alcohol, Parabens and Phthalates. </p>
          </div>
        </div>
      </div>
    </div>
    <div>

      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-bc7689ba-efb1-4282-b870-985f538a5dc4" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Are the Cleansing Wipes flushable?
        </button>
        <div id="FAQ-content-bc7689ba-efb1-4282-b870-985f538a5dc4" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Yes, Utiva Cleansing Wipes are locally-made with flushable grade fabric but we recommend checking with local guidelines on acceptance of flushing wipes. The flushability is tested on the paper substrate (or fabric) in accordance with the current INDA/EDANA guidelines. However, if your home is on a septic system, it is recommended that you refrain from flushing wipes down the toilet.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-70323970-1a7a-4f8f-937c-a3172458d60b" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Are the Cleansing Wipes alcohol free?
        </button>
        <div id="FAQ-content-70323970-1a7a-4f8f-937c-a3172458d60b" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>The wipes are also free of allergens, parabens, sulfates, sulfates, dyes, phthalates, and chlorine bleach.&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-c7fa800b-8c7a-469c-aef3-0f194b89015f" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Are the Cleansing Wipes scented?
        </button>
        <div id="FAQ-content-c7fa800b-8c7a-469c-aef3-0f194b89015f" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>No, the wipes have no fragrance added to the formulation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- HSA/FSA Medical Form FAQ -->
  
  <div class="HSA/FSA_Medical Pdp-faq-main">
    <div>
      <div class="index-section index-section--faq">
        <div class="page-width text-left">
          <div class="grid">
            <div class="grid__item">
              <p class="h2">
                HSA/FSA Medical Form
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <p>In the USA, dietary supplements can be paid for from your HSA (Health Savings Account) 
          or FSA (Flexible Spending Account) when certain criteria is met. 
          A healthcare provider is required to fill out a form that specifies what is being recommended, 
          what condition is it helping with and for how long it should be taken. 
          This form can be downloaded for your healthcare provider to fill out by 
          <a href="https://cdn.shopify.com/s/files/1/0152/2181/7444/files/Utiva_HSA_FSA_Form.pdf?v=1650249058" target="_blank">CLICKING HERE.</a></p>
          
      </div>
    </div>
  </div>


  <!-- Shipping_policy FAQ -->
  <div class="Shipping_policy Pdp-faq-main">
    <div>
      <div class="index-section index-section--faq">
        <div class="page-width text-left">
          <div class="grid">
            <div class="grid__item">
              <p class="h2">
                Shipping &amp; Return Policy
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596663851494" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          International shipping
        </button>
        <div id="FAQ-content-1596663851494" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>We provide International shipping with a flat fee of $30. It does not include duties or taxes, so please make sure to check with your local carriers. </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-page-faq-template-2" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How long will my order take?
        </button>
        <div id="FAQ-content-page-faq-template-2" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p><a href="/pages/covid-19-updates-on-orders-and-shipping" title="COVID-19-Updates on Orders and Shipping">** Please click to see our updated COVID shipping policies regarding shipping times **</a></p><p>All orders are processed every night and&nbsp;our carriers make every effort to deliver within&nbsp;2-6 business days. We provide tracking information with all orders so you can continue to monitor your shipment. Please contact us directly if you have any special instructions or if your shipment is past due so we can help you out right away.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1599530406144" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How much is shipping and when do you ship?
        </button>
        <div id="FAQ-content-1599530406144" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>At Utiva, we offer free shipping on orders over $25 and therefore most of products already quality for this. There is a flat fee of $10 for any orders less than $25. Orders that are placed before 11am will ship out the same day. Order placed after 11am will ship the following business day.<br><br>Due to unreliable courier services as a result of the COVID19 pandemic, shipping times can drastically vary. Please bare with us and the couriers as times have ranged from 3 - 20 business days.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-page-faq-template-1" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How can I update my order, delivery address once the order is submitted?
        </button>
        <div id="FAQ-content-page-faq-template-1" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>For any changes to an existing order, please email us at&nbsp;<a href="mailto:hello@utivahealth.com" class="js-no-transition">hellousa@utivahealth.com</a>&nbsp;and/or call us at 1-888-622-3613.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1599530614652" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          What is the return policy for the supplement?
        </button>
        <div id="FAQ-content-1599530614652" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>
              Utiva has a 30 day money back guarantee. 
              We encourage you to try Utiva and want to ensure you are fully satisfied 
              with your purchase. Should you wish to request a refund, 
              please contact us within 30 days of your purchase at 
              <a href="mailto:hello@utivahealth.com" class="js-no-transition">hello@utivahealth.com</a> or call us at 1-800-622-3613 
              and we will process your return.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Utiva_Rewards FAQ -->
  <div class="Utiva_Rewards Pdp-faq-main">
    <div>
      <div class="index-section index-section--faq">
        <div class="page-width text-left">
          <div class="grid">
            <div class="grid__item">
              <p class="h2">
                Utiva Rewards
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-731b70a2-74c3-44be-b6da-1d79b5723847" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How do I check my rewards?
        </button>
        <div id="FAQ-content-731b70a2-74c3-44be-b6da-1d79b5723847" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>When you log into your account and scroll to the bottom, you will see a welcome message with your Rewards points balance. If you would like to review your rewards history, click on the button below that says <strong>Reward History</strong>. </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-73abfd98-566f-40ca-84af-7339b9bf248a" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How do I earn points?
        </button>
        <div id="FAQ-content-73abfd98-566f-40ca-84af-7339b9bf248a" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>You can earn Utiva Rewards by making a purchase, referring a friend to Utiva (points will reflect once your friend makes a purchase), following us on social media, downloading our UTI Tracker App, joining our Facebook group. You’ll even earn points just by joining our program and every time you celebrate your birthday. </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-dce7b051-ff18-4579-8ec0-075b6d4bb102" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Is joining your rewards program free?
        </button>
        <div id="FAQ-content-dce7b051-ff18-4579-8ec0-075b6d4bb102" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Utiva Rewards program is completely free to join. All you have to do is sign up. </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-764b23af-f9f0-44c7-b04d-9c8d540160b0" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          I am on auto refill; do I still get awarded points for my purchases?
        </button>
        <div id="FAQ-content-764b23af-f9f0-44c7-b04d-9c8d540160b0" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Yes, your points will automatically be added to your account each time we ship your order.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-5ee92cdc-61df-4428-821f-01ebf013b6d6" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Can I use my reward points and a discount coupon code at the same time?
        </button>
        <div id="FAQ-content-5ee92cdc-61df-4428-821f-01ebf013b6d6" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>When redeeming points at checkout for a discount, you will not be able to use the auto generated Utiva Rewards redemption code in combination with another discount code. For example, during a sale period you will not be able to combine your sale discount code with your points redemption code. You can however use a gift card at the same time as you are redeeming<br>your rewards.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-51c3bf7f-c006-4337-b8f2-7f9471788e36" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          What if I already have a Utiva account, do I still get the points awarded just for creating an account?
        </button>
        <div id="FAQ-content-51c3bf7f-c006-4337-b8f2-7f9471788e36" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>If you’ve already created a Utiva account you already started to earn points, log in so you can take actions that will give you even more points. </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-a8d03727-ff73-4660-9de4-cb1a133705f8" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          Do Utiva Reward points expire?
        </button>
        <div id="FAQ-content-a8d03727-ff73-4660-9de4-cb1a133705f8" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Your Utiva Reward points don’t expire. So, you are free to use them whenever you want without the worry of your points expiring!</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-14557a87-d001-4c84-b07a-f2c2d7029c98" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          If I cancel my order, do I still get the points?
        </button>
        <div id="FAQ-content-14557a87-d001-4c84-b07a-f2c2d7029c98" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>If you cancel your order, your rewards points will also be cancelled. Points are also cancelled if you’re your order status is voided, refunded, or partially<br>refunded.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-7afe78df-81c9-4f4d-abb4-bd71b96c3ede" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How does the referral program work?
        </button>
        <div id="FAQ-content-7afe78df-81c9-4f4d-abb4-bd71b96c3ede" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Once enrolled, share your unique link provided in your Rewards widget with your friends. Your friend will receive a 25% coupon code and once your friend makes a purchase you will be automatically be rewarded with a $20 off coupon code. </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-6c159054-8c4e-44ab-9fce-5a8331675331" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How do I get points for following Utiva on social media?
        </button>
        <div id="FAQ-content-6c159054-8c4e-44ab-9fce-5a8331675331" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>Once you’ve created your account, go back to our Rewards page and follow the prompts. If you already follow Utiva on our social channels, simply click on the buttons on the rewards page until you’ve collected them.</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="page-width">
        <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-5aa5e2ad-c8f6-48de-a2ff-535c729aded2" aria-expanded="false">
          {% render 'collapsible-icons-alt', no_circle: true %}
          How do I collect my birthday points?
        </button>
        <div id="FAQ-content-5aa5e2ad-c8f6-48de-a2ff-535c729aded2" class="collapsible-content collapsible-content--all">
          <div class="collapsible-content__inner collapsible-content__inner--faq rte">
            <p>50 points will be automatically awarded to your rewards account each year on the day of your birthday. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>

  .Pdp-faq-main-content {
    display: block;
  }
  .Utiva_Cranberry_PACs_left {
    margin-right: 40px;
  }
  .Pdp-faq-main {
    padding: 0;
    max-width: 985px;
    margin: 0 auto;
  }
  .bm-pdp-faq {
    padding-bottom: 60px;
  }
</style>