{% section 'rewards-hero' %}
{% section 'rewards-steps' %}
{% section 'rewards-points' %}
{% section 'rewards-get' %}
<!-- {% section 'rewards-cta' %}  
 -->
<div class="referral" style="display: flex;flex-wrap: wrap; align-items: stretch;margin-bottom: 3rem;">
<div class="referral-image" style="width:50%;background:#db222d;">
<img src="https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Referral_Friends_Photo.jpg?v=1623375275" style="height: 100%;
    width: 100%;
    object-fit: cover;"></div>
<!-- <div id="stamped-rewards-widget" data-widget-type="rewards-referral" style="float:left;width:50%;" ></div> -->
  
  <div id="stamped-rewards-widget" data-widget-type="rewards-referral" data-label-subtitle="INTRODUCE US TO NEW PEOPLE!" data-label-title="Give 25% off, Get $20" 
     data-label-description="Give your friends a {0} on their first order and get a {1} for your next order." data-label-email-customer="ENTER YOUR EMAIL ADDRESS:" 
     data-label-email-friend="ENTER YOUR FRIEND'S EMAIL ADDRESS:" style="float:left;width:50%;"></div>
  
</div>
  <!-- <div id="stamped-rewards-widget" data-widget-type="rewards-earnings-v2" ></div>-->
